openapi: 3.2.0
info:
  description: With the PureCloud Platform API, you can control all aspects of your PureCloud environment. With the APIs you can access the system configuration, manage conversations and more.
  version: v2
  title: PureCloud Platform Suggest API
  termsOfService: https://help.genesys.cloud/articles/terms-and-conditions/
  contact:
    name: PureCloud Developer Evangelists
    url: https://developer.genesys.cloud/
    email: DeveloperEvangelists@genesys.com
  license:
    name: UNLICENSED
    url: https://help.genesys.cloud/articles/terms-and-conditions/
servers:
- url: https://api.mypurecloud.com
tags:
- name: Suggest
  description: Search suggest user, group, locations
paths:
  /api/v2/search:
    get:
      tags:
      - Suggest
      summary: Search using the q64 value returned from a previous search
      description: ''
      operationId: getSearch
      parameters:
      - name: q64
        in: query
        description: q64
        required: true
        schema:
          type: string
      - name: expand
        in: query
        description: Which fields, if any, to expand
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - routingStatus
            - presence
            - integrationPresence
            - conversationSummary
            - outOfOffice
            - geolocation
            - station
            - authorization
            - lasttokenissued
            - authorization.unusedRoles
            - team
            - workPlanBidRanks
            - externalContactsSettings
            - groups
            - customAttributes
            - profileSkills
            - certifications
            - locations
            - skills
            - languages
            - languagePreference
            - employerInfo
            - biography
            - dateLastLogin
            - dateWelcomeSent
            - callerUser.routingStatus
            - callerUser.primaryPresence
            - callerUser.conversationSummary
            - callerUser.outOfOffice
            - callerUser.geolocation
            - conversations
            - transcription
            - images
            - addressVerificationDetails
      - name: profile
        in: query
        description: profile
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNodeSearchResponse'
        '400':
          description: The request could not be understood by the server due to malformed syntax.
          x-inin-error-codes:
            too.many.search.criteria: search criteria exceeded limit
            bad.request: The request could not be understood by the server due to malformed syntax.
            response.entity.too.large: The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.query.param.value: 'Value [%s] is not valid for parameter [%s]. Allowable values are: %s'
            invalid.property: Value [%s] is not a valid property for object [%s]
            search.criteria.values.exceed.limit: search criteria values exceeded limit
            constraint.validation: '%s'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable values are: %s'
            too.many.requested.results: too many requested results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '401':
          description: No authentication bearer token specified in authorization header.
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization header.
            ip.not.authorized: 'Requests originating from this IP address are not authorized: [%s]'
            bad.credentials: Invalid login credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '403':
          description: You are not authorized to perform the requested action.
          x-inin-error-codes:
            missing.division.permission: You are not authorized to perform the requested action.
            app.not.authorized.for.scope: App not authorized to use scope %s
            missing.permissions: 'Unable to perform the requested action. You are missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s'
            authz.policy.denied: 'Unable to perform the requested action. Your organization''s security policies have denied access. Policy ID(s): [%s]'
            missing.any.division.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: The requested resource was not found.
          x-inin-error-codes:
            not.found: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '408':
          description: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
          x-inin-error-codes:
            client.timeout: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '409':
          description: The request conflicts with the current state of the target resource.
          x-inin-error-codes:
            request.conflict: The request conflicts with the current state of the target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '413':
          description: 'The request is over the size limit. Maximum bytes: %s'
          x-inin-error-codes:
            request.entity.too.large: 'The request is over the size limit. Maximum bytes: %s'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '415':
          description: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '429':
          description: Rate limit exceeded the maximum. Retry the request in [%s] seconds
          x-inin-error-codes:
            too.many.requests.retry.after: Rate limit exceeded the maximum. Retry the request in [%s] seconds
            too.many.requests: Rate limit exceeded the maximum [%s] requests within [%s] seconds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '500':
          description: The server encountered an unexpected condition which prevented it from fulfilling the request.
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition which prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '503':
          description: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '504':
          description: The request timed out.
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
      - PureCloud OAuth:
        - search:readonly
      x-inin-requires-permissions:
        type: ANY
        permissions:
        - directory:user:view
      x-purecloud-method-name: getSearch
    post:
      tags:
      - Suggest
      summary: Search resources
      description: ''
      operationId: postSearch
      parameters:
      - name: profile
        in: query
        description: profile
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNodeSearchResponse'
        '400':
          description: The request could not be understood by the server due to malformed syntax.
          x-inin-error-codes:
            too.many.search.criteria: search criteria exceeded limit
            bad.request: The request could not be understood by the server due to malformed syntax.
            response.entity.too.large: The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.query.param.value: 'Value [%s] is not valid for parameter [%s]. Allowable values are: %s'
            client.failed.request: The client did not produce a request with valid end of stream signaling. This can be caused by poor network connection and/or client behavior.
            invalid.property: Value [%s] is not a valid property for object [%s]
            search.criteria.values.exceed.limit: search criteria values exceeded limit
            user.not.in.organization: User is not in organization.
            constraint.validation: '%s'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable values are: %s'
            too.many.requested.results: too many requested results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '401':
          description: No authentication bearer token specified in authorization header.
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization header.
            ip.not.authorized: 'Requests originating from this IP address are not authorized: [%s]'
            bad.credentials: Invalid login credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '403':
          description: You are not authorized to perform the requested action.
          x-inin-error-codes:
            missing.division.permission: You are not authorized to perform the requested action.
            app.not.authorized.for.scope: App not authorized to use scope %s
            missing.permissions: 'Unable to perform the requested action. You are missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s'
            authz.policy.denied: 'Unable to perform the requested action. Your organization''s security policies have denied access. Policy ID(s): [%s]'
            missing.any.division.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: The requested resource was not found.
          x-inin-error-codes:
            not.found: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '408':
          description: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
          x-inin-error-codes:
            client.timeout: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '409':
          description: The request conflicts with the current state of the target resource.
          x-inin-error-codes:
            request.conflict: The request conflicts with the current state of the target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '413':
          description: 'The request is over the size limit. Maximum bytes: %s'
          x-inin-error-codes:
            request.entity.too.large: 'The request is over the size limit. Maximum bytes: %s'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '415':
          description: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '429':
          description: Rate limit exceeded the maximum. Retry the request in [%s] seconds
          x-inin-error-codes:
            too.many.requests.retry.after: Rate limit exceeded the maximum. Retry the request in [%s] seconds
            too.many.requests: Rate limit exceeded the maximum [%s] requests within [%s] seconds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '500':
          description: The server encountered an unexpected condition which prevented it from fulfilling the request.
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition which prevented it from fulfilling the request.
            jid.not.found: Unable to determine the JID for user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '503':
          description: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '504':
          description: The request timed out.
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
      - PureCloud OAuth:
        - search:readonly
      x-inin-requires-permissions:
        type: ANY
        permissions:
        - directory:user:view
        - routing:skill:view
      x-purecloud-method-name: postSearch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
        description: Search request options
        required: true
  /api/v2/search/suggest:
    get:
      tags:
      - Suggest
      summary: Suggest resources using the q64 value returned from a previous suggest query
      description: ''
      operationId: getSearchSuggest
      parameters:
      - name: q64
        in: query
        description: q64
        required: true
        schema:
          type: string
      - name: expand
        in: query
        description: Which fields, if any, to expand
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - routingStatus
            - presence
            - integrationPresence
            - conversationSummary
            - outOfOffice
            - geolocation
            - station
            - authorization
            - lasttokenissued
            - authorization.unusedRoles
            - team
            - workPlanBidRanks
            - externalContactsSettings
            - groups
            - customAttributes
            - profileSkills
            - certifications
            - locations
            - skills
            - languages
            - languagePreference
            - employerInfo
            - biography
            - dateLastLogin
            - dateWelcomeSent
            - callerUser.routingStatus
            - callerUser.primaryPresence
            - callerUser.conversationSummary
            - callerUser.outOfOffice
            - callerUser.geolocation
            - conversations
            - transcription
            - images
            - addressVerificationDetails
      - name: profile
        in: query
        description: profile
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNodeSearchResponse'
        '400':
          description: The request could not be understood by the server due to malformed syntax.
          x-inin-error-codes:
            too.many.search.criteria: search criteria exceeded limit
            bad.request: The request could not be understood by the server due to malformed syntax.
            response.entity.too.large: The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.query.param.value: 'Value [%s] is not valid for parameter [%s]. Allowable values are: %s'
            invalid.property: Value [%s] is not a valid property for object [%s]
            search.criteria.values.exceed.limit: search criteria values exceeded limit
            constraint.validation: '%s'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable values are: %s'
            too.many.requested.results: too many requested results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '401':
          description: No authentication bearer token specified in authorization header.
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization header.
            ip.not.authorized: 'Requests originating from this IP address are not authorized: [%s]'
            bad.credentials: Invalid login credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '403':
          description: You are not authorized to perform the requested action.
          x-inin-error-codes:
            missing.division.permission: You are not authorized to perform the requested action.
            app.not.authorized.for.scope: App not authorized to use scope %s
            missing.permissions: 'Unable to perform the requested action. You are missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s'
            authz.policy.denied: 'Unable to perform the requested action. Your organization''s security policies have denied access. Policy ID(s): [%s]'
            missing.any.division.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: The requested resource was not found.
          x-inin-error-codes:
            not.found: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '408':
          description: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
          x-inin-error-codes:
            client.timeout: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '409':
          description: The request conflicts with the current state of the target resource.
          x-inin-error-codes:
            request.conflict: The request conflicts with the current state of the target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '413':
          description: 'The request is over the size limit. Maximum bytes: %s'
          x-inin-error-codes:
            request.entity.too.large: 'The request is over the size limit. Maximum bytes: %s'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '415':
          description: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '429':
          description: Rate limit exceeded the maximum. Retry the request in [%s] seconds
          x-inin-error-codes:
            too.many.requests.retry.after: Rate limit exceeded the maximum. Retry the request in [%s] seconds
            too.many.requests: Rate limit exceeded the maximum [%s] requests within [%s] seconds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '500':
          description: The server encountered an unexpected condition which prevented it from fulfilling the request.
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition which prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '503':
          description: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '504':
          description: The request timed out.
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
      - PureCloud OAuth:
        - search:readonly
      x-inin-requires-permissions:
        type: ANY
        permissions:
        - directory:user:view
      x-purecloud-method-name: getSearchSuggest
    post:
      tags:
      - Suggest
      summary: Suggest resources
      description: ''
      operationId: postSearchSuggest
      parameters:
      - name: profile
        in: query
        description: profile
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonNodeSearchResponse'
        '400':
          description: The request could not be understood by the server due to malformed syntax.
          x-inin-error-codes:
            too.many.search.criteria: search criteria exceeded limit
            bad.request: The request could not be understood by the server due to malformed syntax.
            response.entity.too.large: The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.query.param.value: 'Value [%s] is not valid for parameter [%s]. Allowable values are: %s'
            client.failed.request: The client did not produce a request with valid end of stream signaling. This can be caused by poor network connection and/or client behavior.
            invalid.property: Value [%s] is not a valid property for object [%s]
            search.criteria.values.exceed.limit: search criteria values exceeded limit
            constraint.validation: '%s'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable values are: %s'
            too.many.requested.results: too many requested results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '401':
          description: No authentication bearer token specified in authorization header.
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization header.
            ip.not.authorized: 'Requests originating from this IP address are not authorized: [%s]'
            bad.credentials: Invalid login credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '403':
          description: You are not authorized to perform the requested action.
          x-inin-error-codes:
            missing.division.permission: You are not authorized to perform the requested action.
            app.not.authorized.for.scope: App not authorized to use scope %s
            missing.permissions: 'Unable to perform the requested action. You are missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s'
            authz.policy.denied: 'Unable to perform the requested action. Your organization''s security policies have denied access. Policy ID(s): [%s]'
            missing.any.division.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '404':
          description: The requested resource was not found.
          x-inin-error-codes:
            not.found: The requested resource was not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '408':
          description: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
          x-inin-error-codes:
            client.timeout: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '409':
          description: The request conflicts with the current state of the target resource.
          x-inin-error-codes:
            request.conflict: The request conflicts with the current state of the target resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '413':
          description: 'The request is over the size limit. Maximum bytes: %s'
          x-inin-error-codes:
            request.entity.too.large: 'The request is over the size limit. Maximum bytes: %s'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '415':
          description: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '429':
          description: Rate limit exceeded the maximum. Retry the request in [%s] seconds
          x-inin-error-codes:
            too.many.requests.retry.after: Rate limit exceeded the maximum. Retry the request in [%s] seconds
            too.many.requests: Rate limit exceeded the maximum [%s] requests within [%s] seconds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '500':
          description: The server encountered an unexpected condition which prevented it from fulfilling the request.
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition which prevented it from fulfilling the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '503':
          description: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
        '504':
          description: The request timed out.
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
      - PureCloud OAuth:
        - search:readonly
      x-inin-requires-permissions:
        type: ANY
        permissions:
        - directory:user:view
      x-purecloud-method-name: postSearchSuggest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuggestSearchRequest'
        description: Search request options
        required: true
components:
  schemas:
    SearchRequest:
      type: object
      required:
      - types
      properties:
        sortOrder:
          type: string
          description: The sort order for results
          enum:
          - ASC
          - DESC
          - SCORE
        sortBy:
          type: string
          description: The field in the resource that you want to sort the results by
        pageSize:
          type: integer
          format: int32
          description: The number of results per page
        pageNumber:
          type: integer
          format: int32
          description: The page of resources you want to retrieve
        sort:
          type: array
          description: Multi-value sort order, list of multiple sort values
          items:
            $ref: '#/components/schemas/SearchSort'
        returnFields:
          type: array
          description: A List of strings.  Possible values are any field in the resource you are searching on.  The other option is to use ALL_FIELDS, when this is provided all fields in the resource will be returned in the search results.
          items:
            type: string
        expand:
          type: array
          description: Provides more details about a specified resource
          items:
            type: string
        types:
          type: array
          description: Resource domain type to search
          items:
            type: string
        query:
          type: array
          description: The search criteria
          items:
            $ref: '#/components/schemas/SearchCriteria'
        aggregations:
          type: array
          description: Aggregation criteria
          items:
            $ref: '#/components/schemas/SearchAggregation'
    ErrorBody:
      type: object
      properties:
        message:
          type: string
        code:
          type: string
        status:
          type: integer
          format: int32
        entityId:
          type: string
        entityName:
          type: string
        messageWithParams:
          type: string
        messageParams:
          type: object
          additionalProperties:
            type: string
        contextId:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/Detail'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorBody'
        limit:
          $ref: '#/components/schemas/Limit'
    SuggestSearchRequest:
      type: object
      required:
      - query
      - types
      properties:
        expand:
          type: array
          description: Provides more details about a specified resource
          items:
            type: string
        types:
          type: array
          description: Resource domain type to search
          items:
            type: string
        query:
          type: array
          description: Suggest query
          items:
            $ref: '#/components/schemas/SuggestSearchCriteria'
    SearchAggregation:
      type: object
      properties:
        field:
          type: string
          description: The field used for aggregation
        name:
          type: string
          description: The name of the aggregation. The response aggregation uses this name.
        type:
          type: string
          description: The type of aggregation to perform
          enum:
          - COUNT
          - SUM
          - AVERAGE
          - TERM
          - CONTAINS
          - STARTS_WITH
          - ENDS_WITH
        value:
          type: string
          description: A value to use for aggregation
        size:
          type: integer
          format: int32
          description: The number aggregations results to return out of the entire result set
        order:
          type: array
          description: The order in which aggregation results are sorted
          items:
            type: string
            enum:
            - VALUE_DESC
            - VALUE_ASC
            - COUNT_DESC
            - COUNT_ASC
    Limit:
      type: object
      properties:
        key:
          type: string
        namespace:
          type: string
          enum:
          - web.deployments
          - web.messaging
          - agent.assistant
          - agentic.virtual.agents
          - analytics.agents
          - analytics.alerting
          - analytics.data.extraction
          - analytics
          - analytics.realtime
          - analytics.reporting.settings
          - anomaly.detection
          - architect
          - audiohook
          - audiohook.monitor
          - audit
          - auth.api
          - authorization
          - automation.testing
          - bots
          - bots.voice
          - business.rules
          - callback
          - case.management
          - cobrowse
          - content.management
          - conversation
          - copilot
          - dataactions
          - datatables
          - directory
          - dsar
          - email
          - employee.engagement
          - event.orchestration
          - external.contacts
          - external.events.data.ingestion
          - gamification
          - gcv
          - gdpr
          - groups
          - guides
          - historical.adherence
          - infrastructureascode
          - integrations
          - intent.miner
          - internal.messaging
          - journey
          - knowledge
          - language.understanding
          - learning
          - limit.registry
          - marketplace
          - mcp.analytics.aggregates
          - mcp
          - media.communications
          - messaging
          - micro.frontend
          - multi.org
          - notifications
          - onboarding
          - outbound
          - platform.api
          - predictive.routing
          - presence
          - quality
          - recording
          - response.management
          - routing
          - scim
          - screen.monitoring
          - search
          - secondary.automation.testing
          - skills
          - social.media
          - speech.and.text.analytics
          - speech.integration
          - supportability
          - task.management
          - telephony.configuration
          - usage
          - users
          - users.rules
          - voice.transcription
          - webchat
          - webhooks
          - workforce.management.adherence
          - workforce.management.agent.availability
          - workforce.management.forecast
          - workforce.management
          - workforce.management.scheduling.preferences
          - workforce.management.self.schedule
          - workforce.management.shift.trading
          - system
        value:
          type: integer
          format: int64
    ArrayNode:
      type: object
    SuggestSearchCriteria:
      type: object
      properties:
        endValue:
          type: string
          description: The end value of the range. This field is used for range search types.
        values:
          type: array
          description: A list of values for the search to match against
          items:
            type: string
        startValue:
          type: string
          description: The start value of the range. This field is used for range search types.
        value:
          type: string
          description: A value for the search to match against
        operator:
          type: string
          description: How to apply this search criteria against other criteria
          enum:
          - AND
          - OR
          - NOT
        group:
          type: array
          description: Groups multiple conditions
          items:
            $ref: '#/components/schemas/SuggestSearchCriteria'
        dateFormat:
          type: string
          description: Set date format for criteria values when using date range search type.  Supports Java date format syntax, example yyyy-MM-dd'T'HH:mm:ss.SSSX.
        fields:
          type: array
          description: Field names to search against
          items:
            type: string
    SearchCriteria:
      type: object
      properties:
        endValue:
          type: string
          description: The end value of the range. This field is used for range search types.
        values:
          type: array
          description: A list of values for the search to match against
          items:
            type: string
        startValue:
          type: string
          description: The start value of the range. This field is used for range search types.
        value:
          type: string
          description: A value for the search to match against
        operator:
          type: string
          description: How to apply this search criteria against other criteria
          enum:
          - AND
          - OR
          - NOT
        group:
          type: array
          description: Groups multiple conditions
          items:
            $ref: '#/components/schemas/SearchCriteria'
        dateFormat:
          type: string
          description: Set date format for criteria values when using date range search type.  Supports Java date format syntax, example yyyy-MM-dd'T'HH:mm:ss.SSSX.
        type:
          type: string
          enum:
          - EXACT
          - CONTAINS
          - STARTS_WITH
          - REQUIRED_FIELDS
          - RANGE
          - DATE_RANGE
          - LESS_THAN
          - LESS_THAN_EQUAL_TO
          - GREATER_THAN
          - GREATER_THAN_EQUAL_TO
          - SIMPLE
          - TERM
          - TERMS
          - QUERY_STRING
          - MATCH_ALL
          - REGEX
        fields:
          type: array
          description: Field names to search against
          items:
            type: string
          x-genesys-search-fields:
            value:
            - addresses.email
            - addresses.voice
            - addresses.address
            - addresses.voicemailEnabled
            - chat.jabberId
            - department
            - email
            - username
            - siteId
            - manager.id
            - hr.employeeId
            - integration
            - groups.social.id
            - groups.official.id
            - groups.distribution.id
            - state
            - id
            - languages.guid
            - languages.name
            - languages.namespace
            - languages.proficiency
            - name
            - primaryContactInfo.voice
            - primaryContactInfo.sms
            - primaryContactInfo.email
            - profileSkills
            - queueMembership.added
            - queueMembership.joined
            - routingSkills.guid
            - routingSkills.name
            - routingSkills.namespace
            - routingSkills.proficiency
            - title
            - divisionId
            - teamId
            - description
            - notes
            - addressFields.city
            - addressFields.country
            - addressFields.state
            - addressFields.street1
            - addressFields.street2
            - addressFields.zipcode
            - addressVerified
            - emergencyNumber
            - voicemailId
            - ownerId
            - ownerType
            - deleted
            - read
            - callerAddress
            - callerUser
            - createdDate
            - modifiedDate
            - queueId
            - wrapupCodeId
            - body
            - created
            - fromUserJid
            - targetJids
    SearchSort:
      type: object
      properties:
        sortOrder:
          type: string
          description: The sort order for results
          enum:
          - ASC
          - DESC
          - SCORE
        sortBy:
          type: string
          description: The field in the resource that you want to sort the results by
    JsonNodeSearchResponse:
      type: object
      required:
      - pageCount
      - pageNumber
      - pageSize
      - results
      - total
      - types
      properties:
        total:
          type: integer
          format: int64
          description: The total number of results found
        pageCount:
          type: integer
          format: int32
          description: The total number of pages
        pageSize:
          type: integer
          format: int32
          description: The current page size
        pageNumber:
          type: integer
          format: int32
          description: The current page number
        previousPage:
          type: string
          description: Q64 value for the previous page of results
        currentPage:
          type: string
          description: Q64 value for the current page of results
        nextPage:
          type: string
          description: Q64 value for the next page of results
        types:
          type: array
          description: Resource types the search was performed against
          items:
            type: string
        results:
          description: Search results
          $ref: '#/components/schemas/ArrayNode'
        aggregations:
          $ref: '#/components/schemas/ArrayNode'
    Detail:
      type: object
      properties:
        errorCode:
          type: string
        fieldName:
          type: string
        entityId:
          type: string
        entityName:
          type: string
  securitySchemes:
    PureCloud_OAuth:
      type: oauth2
      flows:
        implicit:
          scopes:
            all: All the scopes
          authorizationUrl: https://login.mypurecloud.com/authorize
    Guest_Chat_JWT:
      type: apiKey
      name: Authorization
      in: header
externalDocs:
  description: PureCloud API Documentation
  url: https://developer.genesys.cloud/
