swagger: '2.0'
info:
  description: With the PureCloud Platform API, you can control all aspects of your PureCloud environment. With the APIs you can access the system configuration, manage conversations and more.
  version: v2
  title: PureCloud Platform Agent Assistants Events API
  termsOfService: https://help.genesys.cloud/articles/terms-and-conditions/
  contact:
    name: PureCloud Developer Evangelists
    url: https://developer.genesys.cloud/
    email: DeveloperEvangelists@genesys.com
  license:
    name: UNLICENSED
    url: https://help.genesys.cloud/articles/terms-and-conditions/
host: api.mypurecloud.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Events
  description: Events
  externalDocs:
    description: Events Documentation
    url: https://developer.genesys.cloud/api/rest/v2/events/
paths:
  /api/v2/events/conversations:
    post:
      tags:
      - Events
      summary: Publish Conversation Batch Events
      description: ''
      operationId: postEventsConversations
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: batchRequest
        required: true
        schema:
          $ref: '#/definitions/BatchConversationEventRequest'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/BatchEventResponse'
        '400':
          description: The request could not be understood by the server due to malformed syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to malformed syntax.
            response.entity.too.large: The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.query.param.value: 'Value [%s] is not valid for parameter [%s]. Allowable values are: %s'
            client.failed.request: The client did not produce a request with valid end of stream signaling. This can be caused by poor network connection and/or client behavior.
            invalid.property: Value [%s] is not a valid property for object [%s]
            zero.events.submitted: A minimum of 1 event must be submitted
            max.batch.size.surpassed: Max allowed event count per request has been surpassed. Max batch size is 100
            constraint.validation: '%s'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable values are: %s'
        '401':
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization header.
            ip.not.authorized: 'Requests originating from this IP address are not authorized: [%s]'
            bad.credentials: Invalid login credentials.
        '403':
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.division.permission: Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).
            app.not.authorized.for.scope: App not authorized to use scope %s
            missing.permissions: 'Unable to perform the requested action. You are missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s'
            authz.policy.denied: 'Unable to perform the requested action. Your organization''s security policies have denied access. Policy ID(s): [%s]'
            missing.any.division.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s'
        '404':
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        '408':
          description: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            client.timeout: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
        '409':
          description: The request conflicts with the current state of the target resource.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.conflict: The request conflicts with the current state of the target resource.
        '413':
          description: 'The request is over the size limit. Maximum bytes: %s'
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.entity.too.large: 'The request is over the size limit. Maximum bytes: %s'
        '415':
          description: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
        '429':
          description: Rate limit exceeded the maximum. Retry the request in [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests.retry.after: Rate limit exceeded the maximum. Retry the request in [%s] seconds
            too.many.requests: Rate limit exceeded the maximum [%s] requests within [%s] seconds
        '500':
          description: The server encountered an unexpected condition which prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition which prevented it from fulfilling the request.
        '503':
          description: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
        '504':
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - PureCloud OAuth:
        - conversations
      x-inin-requires-permissions:
        type: ANY
        permissions:
        - conversation:conversation:inject
      x-purecloud-method-name: postEventsConversations
  /api/v2/events/users/routingstatus:
    post:
      tags:
      - Events
      summary: Publish Agent Routing Status Batch Events
      description: ''
      operationId: postEventsUsersRoutingstatus
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: batchRequest
        required: true
        schema:
          $ref: '#/definitions/BatchUserRoutingStatusEventRequest'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/BatchEventResponse'
        '400':
          description: The request could not be understood by the server due to malformed syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to malformed syntax.
            response.entity.too.large: The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.query.param.value: 'Value [%s] is not valid for parameter [%s]. Allowable values are: %s'
            client.failed.request: The client did not produce a request with valid end of stream signaling. This can be caused by poor network connection and/or client behavior.
            invalid.property: Value [%s] is not a valid property for object [%s]
            zero.events.submitted: A minimum of 1 event must be submitted
            max.batch.size.surpassed: Max allowed event count per request has been surpassed. Max batch size is 100
            constraint.validation: '%s'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable values are: %s'
        '401':
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization header.
            ip.not.authorized: 'Requests originating from this IP address are not authorized: [%s]'
            bad.credentials: Invalid login credentials.
        '403':
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.division.permission: Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).
            app.not.authorized.for.scope: App not authorized to use scope %s
            missing.permissions: 'Unable to perform the requested action. You are missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s'
            authz.policy.denied: 'Unable to perform the requested action. Your organization''s security policies have denied access. Policy ID(s): [%s]'
            missing.any.division.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s'
        '404':
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        '408':
          description: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            client.timeout: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
        '409':
          description: The request conflicts with the current state of the target resource.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.conflict: The request conflicts with the current state of the target resource.
        '413':
          description: 'The request is over the size limit. Maximum bytes: %s'
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.entity.too.large: 'The request is over the size limit. Maximum bytes: %s'
        '415':
          description: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
        '429':
          description: Rate limit exceeded the maximum. Retry the request in [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests.retry.after: Rate limit exceeded the maximum. Retry the request in [%s] seconds
            too.many.requests: Rate limit exceeded the maximum [%s] requests within [%s] seconds
        '500':
          description: The server encountered an unexpected condition which prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition which prevented it from fulfilling the request.
        '503':
          description: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
        '504':
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - PureCloud OAuth:
        - routing
      x-inin-requires-permissions:
        type: ANY
        permissions:
        - routing:routingstatus:inject
      x-purecloud-method-name: postEventsUsersRoutingstatus
  /api/v2/events/users/presence:
    post:
      tags:
      - Events
      summary: Publish User Presence Status Batch Events
      description: ''
      operationId: postEventsUsersPresence
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: batchRequest
        required: true
        schema:
          $ref: '#/definitions/BatchUserPresenceEventRequest'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/BatchEventResponse'
        '400':
          description: The request could not be understood by the server due to malformed syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to malformed syntax.
            response.entity.too.large: The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.query.param.value: 'Value [%s] is not valid for parameter [%s]. Allowable values are: %s'
            client.failed.request: The client did not produce a request with valid end of stream signaling. This can be caused by poor network connection and/or client behavior.
            invalid.property: Value [%s] is not a valid property for object [%s]
            zero.events.submitted: A minimum of 1 event must be submitted
            max.batch.size.surpassed: Max allowed event count per request has been surpassed. Max batch size is 100
            constraint.validation: '%s'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable values are: %s'
        '401':
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization header.
            ip.not.authorized: 'Requests originating from this IP address are not authorized: [%s]'
            bad.credentials: Invalid login credentials.
        '403':
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.division.permission: Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).
            app.not.authorized.for.scope: App not authorized to use scope %s
            missing.permissions: 'Unable to perform the requested action. You are missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s'
            authz.policy.denied: 'Unable to perform the requested action. Your organization''s security policies have denied access. Policy ID(s): [%s]'
            missing.any.division.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s'
        '404':
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        '408':
          description: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            client.timeout: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
        '409':
          description: The request conflicts with the current state of the target resource.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.conflict: The request conflicts with the current state of the target resource.
        '413':
          description: 'The request is over the size limit. Maximum bytes: %s'
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.entity.too.large: 'The request is over the size limit. Maximum bytes: %s'
        '415':
          description: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
        '429':
          description: Rate limit exceeded the maximum. Retry the request in [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests.retry.after: Rate limit exceeded the maximum. Retry the request in [%s] seconds
            too.many.requests: Rate limit exceeded the maximum [%s] requests within [%s] seconds
        '500':
          description: The server encountered an unexpected condition which prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition which prevented it from fulfilling the request.
        '503':
          description: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
        '504':
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - PureCloud OAuth:
        - presence
      x-inin-requires-permissions:
        type: ANY
        permissions:
        - presence:userPresence:inject
      x-purecloud-method-name: postEventsUsersPresence
definitions:
  ProgressTransferEvent:
    type: object
    required:
    - commandId
    - conversationId
    - destinationCommunicationId
    - eventDateTime
    - eventId
    - objectCommunicationId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      commandId:
        type: string
        description: The id (V4 UUID) used to identify the transfer already started by the external platform.
      objectCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred.
      destinationCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred to.
  EndConsultTransferEvent:
    type: object
    required:
    - conversationId
    - eventDateTime
    - eventId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
  EmailExternalEstablishedEvent:
    type: object
    required:
    - communicationId
    - conversationId
    - eventDateTime
    - eventId
    - initialConfiguration
    - sourceConfiguration
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication.
      displayName:
        type: string
        description: A name for the participant if it is available for this conversation.
      includeMessage:
        type: boolean
        description: Indicates that established communication has an initial email. If true, the initial messagesSent value will be initialized to 1.
      initialConfiguration:
        description: Metadata about this communication.
        $ref: '#/definitions/EmailInitialConfiguration'
      sourceConfiguration:
        description: Metadata about the source of this communication's interaction.
        $ref: '#/definitions/SourceConfiguration'
  EmailCommunicationEndedEvent:
    type: object
    required:
    - communicationId
    - conversationId
    - disconnectType
    - eventDateTime
    - eventId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication.
      disconnectType:
        type: string
        description: Indicates how this communication was ended.
        enum:
        - Unknown
        - Self
        - Peer
        - System
        - Error
        - Spam
        - Transfer
        - TransferACD
        - TransferUser
  EmailUserTransferEvent:
    type: object
    required:
    - commandId
    - conversationId
    - destinationUserId
    - eventDateTime
    - eventId
    - initiatingCommunicationId
    - objectCommunicationId
    - targetCommunicationId
    - transferType
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      transferType:
        type: string
        description: Indicates the desired type of transfer.
        enum:
        - Attended
        - Unattended
      commandId:
        type: string
        description: The id (V4 UUID) used by the external platform to refer to the transfer in subsequent Transfer events.
      initiatingCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication representing the participant that is initiating the transfer.
      targetCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred away from. In many cases this will be the same as the `initiatingCommunicationId`.
      objectCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred.
      destinationUserId:
        type: string
        description: The id (V4 UUID) of the desired destination user that the object communication should be transferred to.
  InitialConfiguration:
    type: object
    properties:
      audioState:
        description: Indicates the initial audio state for the communication.
        $ref: '#/definitions/AudioState'
      alerting:
        type: boolean
        description: Indicates that this communication's initial state is alerting. If false, the communication started in a connected state.
      inbound:
        type: boolean
        description: Indicates the direction of this communication with respect to the contact center. `true` means the communication is INBOUND. `false` means the communication is OUTBOUND.
      invitedBy:
        type: string
        description: The id of the communication (the "peer") that "invited" this communication, if this occurred.
      recordingActive:
        type: boolean
        description: Indicates whether recording is active for this communication at creation.
      additionalInfo:
        type: object
        description: Additional metadata about this session which should be recorded by the platform but which will not be indexed or searchable. Primarily for diagnostic value. Any information that needs to be accessible through other components like Analytics should be moved to dedicated fields.
        additionalProperties:
          type: string
  EmailUserEstablishedEvent:
    type: object
    required:
    - communicationId
    - conversationId
    - eventDateTime
    - eventId
    - initialConfiguration
    - sourceConfiguration
    - userId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication.
      userId:
        type: string
        description: A unique Id (V4 UUID) identifying the user this communication belongs to.
      queueId:
        type: string
        description: A unique Id (V4 UUID) identifying the queue that the user is emailing on behalf of. Applies to outbound emails only.
      afterCallWorkRequired:
        type: boolean
        description: Indicates whether or not this user will be required to complete after call work.
      initialConfiguration:
        description: Metadata about this communication.
        $ref: '#/definitions/EmailInitialConfiguration'
      sourceConfiguration:
        description: Metadata about the source of this communication's interaction.
        $ref: '#/definitions/SourceConfiguration'
  EventError:
    type: object
    properties:
      eventId:
        type: string
        description: The eventId (V4 UUID) for the event that encountered an error.
      message:
        type: string
        description: A message describing the error.
      retryable:
        type: boolean
        description: The event for this eventId can be resubmitted if this value is true.
  AudioState:
    type: object
    properties:
      canHear:
        type: boolean
        description: Indicates that this communication's audio allows its participant to hear others.
      canSpeak:
        type: boolean
        description: Indicates that this communication's audio allows others to hear this participant.
  CommunicationEndedEvent:
    type: object
    required:
    - communicationId
    - conversationId
    - disconnectType
    - eventDateTime
    - eventId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
      disconnectType:
        type: string
        description: Indicates how this communication was ended.
        enum:
        - Error
        - Peer
        - Self
        - System
        - Transfer
        - TransferACD
        - TransferConference
        - TransferConsult
        - TransferUser
      destinationConversationId:
        type: string
        description: The id (V4 UUID) of the conversation that the communication is being moved to when conversations are merged.
  ErrorBody:
    type: object
    properties:
      message:
        type: string
      code:
        type: string
      status:
        type: integer
        format: int32
      entityId:
        type: string
      entityName:
        type: string
      messageWithParams:
        type: string
      messageParams:
        type: object
        additionalProperties:
          type: string
      contextId:
        type: string
      details:
        type: array
        items:
          $ref: '#/definitions/Detail'
      errors:
        type: array
        items:
          $ref: '#/definitions/ErrorBody'
      limit:
        $ref: '#/definitions/Limit'
  EmailHoldUpdatedEvent:
    type: object
    required:
    - communicationId
    - conversationId
    - eventDateTime
    - eventId
    - held
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
      held:
        type: boolean
        description: Indicates whether this communication is held.
  EmailBeginTransmittingEvent:
    type: object
    required:
    - communicationId
    - conversationId
    - eventDateTime
    - eventId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication.
  BatchUserRoutingStatusEventRequest:
    type: object
    properties:
      userRoutingStatusEvents:
        type: array
        description: UserRoutingStatus events for this batch
        items:
          $ref: '#/definitions/UserRoutingStatusEvent'
    description: A maximum of 100 events are allowed per request
  EmailInitialConfiguration:
    type: object
    required:
    - from
    - to
    properties:
      to:
        type: string
        description: An email address that this email is to.
      from:
        type: string
        description: An email address that this email is from.
      cc:
        type: array
        description: An email addresses that this email is carbon copied to.
        items:
          type: string
      bcc:
        type: array
        description: An email addresses that this email is blind carbon copied to.
        items:
          type: string
      subject:
        type: string
        description: The subject for this email.
      previousEmailId:
        type: string
        description: UUID identifying the most recent previous email communication ID from the same participant on this email conversation. Will be null if this is a new participant.
      held:
        type: boolean
        description: Indicates that this communication's initial state is held.
      alerting:
        type: boolean
        description: Indicates that this communication's initial state is alerting. If false, the communication started in a connected state.
      inbound:
        type: boolean
        description: Indicates the direction of this communication with respect to the contact center. `true` means the communication is INBOUND. `false` means the communication is OUTBOUND.
      invitedBy:
        type: string
        description: The id of the communication (the "peer") that "invited" this communication, if this occurred.
      additionalInfo:
        type: object
        description: Additional metadata about this session which should be recorded by the platform but which will not be indexed or searchable. Primarily for diagnostic value. Any information that needs to be accessible through other components like Analytics should be moved to dedicated fields.
        additionalProperties:
          type: string
  RoutingEstablishedEvent:
    type: object
    required:
    - communicationId
    - conversationId
    - eventDateTime
    - eventId
    - initialConfiguration
    - queueId
    - sourceConfiguration
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
      phoneNumber:
        type: string
        description: Identifies the phone number used to reach this queue if it is different from the information that would be accessed by queueId.
      queueId:
        type: string
        description: The id (V4 UUID) of the queue that is routing this conversation.
      ani:
        type: string
        description: The automatic number identification if it is available for this conversation.
      dnis:
        type: string
        description: The dialed number identification if it is available for this conversation.
      skillIds:
        type: array
        description: The unique identifiers (V4 UUID) for the skills that should be used to determine the destination for the conversation.
        items:
          type: string
      languageId:
        type: string
        description: The unique identifier (V4 UUID) for the language that should be used to determine the destination for the conversation.
      initialConfiguration:
        description: Metadata about this communication.
        $ref: '#/definitions/InitialConfiguration'
      sourceConfiguration:
        description: Metadata about the source of this communication's interaction.
        $ref: '#/definitions/SourceConfiguration'
  UserEstablishedEvent:
    type: object
    required:
    - communicationId
    - conversationId
    - eventDateTime
    - eventId
    - initialConfiguration
    - sourceConfiguration
    - userId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
      phoneNumber:
        type: string
        description: Identifies the phone number used to reach this user if it is different from the information that would be accessed by userId.
      userId:
        type: string
        description: The userId (V4 UUID) for the user this communication belongs to.
      stationId:
        type: string
        description: A Station ID (V4 UUID) that identifies the station being used if the user is using a station and the stationId is known.
      ani:
        type: string
        description: The automatic number identification if it is available for this conversation.
      dnis:
        type: string
        description: The dialed number identification if it is available for this conversation.
      afterCallWorkRequired:
        type: boolean
        description: Indicates whether or not this user will be required to complete after call work.
      queueId:
        type: string
        description: The id (V4 UUID) of the queue that the user is calling on behalf of. Applies to outbound calls only.
      initialConfiguration:
        description: Metadata about this communication.
        $ref: '#/definitions/InitialConfiguration'
      sourceConfiguration:
        description: Metadata about the source of this communication's interaction.
        $ref: '#/definitions/SourceConfiguration'
  EmailEndTransferEvent:
    type: object
    required:
    - commandId
    - conversationId
    - eventDateTime
    - eventId
    - finalState
    - objectCommunicationId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      commandId:
        type: string
        description: The id (V4 UUID) used to identify the transfer already started by the external platform.
      finalState:
        type: string
        description: Indicates whether the transfer completed successfully, was cancelled, or failed for some reason.
        enum:
        - Completed
        - Canceled
        - Failed
      objectCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that was being transferred.
  ConsultTransferEvent:
    type: object
    required:
    - conversationId
    - destinationCommunicationId
    - eventDateTime
    - eventId
    - initiatingCommunicationId
    - objectCommunicationId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      initiatingCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication representing the participant that is initiating the transfer.
      destinationCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred to.
      objectCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred.
  BatchEventResponse:
    type: object
    properties:
      errors:
        type: array
        description: A list of validation or server errors that occurred for posted events.
        items:
          $ref: '#/definitions/EventError'
  HoldUpdatedEvent:
    type: object
    required:
    - communicationId
    - conversationId
    - eventDateTime
    - eventId
    - held
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
      held:
        type: boolean
        description: Indicates whether this communication is held.
  UserPresenceEvent:
    type: object
    required:
    - eventDateTime
    - eventId
    - sourceId
    - userId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      userId:
        type: string
        description: The User ID of the user associated with this UserPresence
      sourceId:
        type: string
        description: The id (V4 UUID) of the presence source being updated
      presenceDefinitionId:
        type: string
        description: The id (UUID) of the presence definition that the user presence is associated with
      message:
        type: string
        description: The message associated with the presence
  BatchUserPresenceEventRequest:
    type: object
    properties:
      userPresenceEvents:
        type: array
        description: UserPresence events for this batch
        items:
          $ref: '#/definitions/UserPresenceEvent'
    description: A maximum of 100 events are allowed per request
  PhoneTransferEvent:
    type: object
    required:
    - commandId
    - conversationId
    - destinationPhoneNumber
    - eventDateTime
    - eventId
    - initiatingCommunicationId
    - objectCommunicationId
    - targetCommunicationId
    - transferType
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      transferType:
        type: string
        description: Indicates the desired type of transfer.
        enum:
        - Attended
        - Unattended
      commandId:
        type: string
        description: The id (V4 UUID) used by the external platform to refer to the transfer in subsequent Transfer events.
      initiatingCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication representing the participant that is initiating the transfer.
      targetCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred away from. In many cases this will be the same as the `initiatingCommunicationId`.
      objectCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred.
      destinationPhoneNumber:
        type: string
        description: The desired destination phone number that the object communication should be transferred to.
  EmailCommunicationAnsweredEvent:
    type: object
    required:
    - communicationId
    - conversationId
    - eventDateTime
    - eventId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
  EmailFlowEstablishedEvent:
    type: object
    required:
    - communicationId
    - conversationId
    - eventDateTime
    - eventId
    - initialConfiguration
    - sourceConfiguration
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication.
      initialConfiguration:
        description: Metadata about this communication.
        $ref: '#/definitions/EmailInitialConfiguration'
      sourceConfiguration:
        description: Metadata about the source of this communication's interaction.
        $ref: '#/definitions/SourceConfiguration'
  BatchConversationEventRequest:
    type: object
    properties:
      endTransferEvents:
        type: array
        description: Voice - EndTransfer events for this batch
        items:
          $ref: '#/definitions/EndTransferEvent'
      phoneTransferEvents:
        type: array
        description: Voice - PhoneTransfer events for this batch
        items:
          $ref: '#/definitions/PhoneTransferEvent'
      progressTransferEvents:
        type: array
        description: Voice - ProgressTransfer events for this batch
        items:
          $ref: '#/definitions/ProgressTransferEvent'
      routingTransferEvents:
        type: array
        description: Voice - RoutingTransfer events for this batch
        items:
          $ref: '#/definitions/RoutingTransferEvent'
      userTransferEvents:
        type: array
        description: Voice - UserTransfer events for this batch
        items:
          $ref: '#/definitions/UserTransferEvent'
      communicationAnsweredEvents:
        type: array
        description: Voice - CommunicationAnswered events for this batch
        items:
          $ref: '#/definitions/CommunicationAnsweredEvent'
      communicationDispositionAppliedEvents:
        type: array
        description: Voice - CommunicationDispositionApplied events for this batch
        items:
          $ref: '#/definitions/CommunicationDispositionAppliedEvent'
      holdUpdatedEvents:
        type: array
        description: Voice - HoldUpdated events for this batch
        items:
          $ref: '#/definitions/HoldUpdatedEvent'
      externalEstablishedEvents:
        type: array
        description: Voice - ExternalEstablished events for this batch
        items:
          $ref: '#/definitions/ExternalEstablishedEvent'
      ivrEstablishedEvents:
        type: array
        description: Voice - IvrEstablished events for this batch
        items:
          $ref: '#/definitions/IvrEstablishedEvent'
      phoneEstablishedEvents:
        type: array
        description: Voice - PhoneEstablished events for this batch
        items:
          $ref: '#/definitions/PhoneEstablishedEvent'
      routingEstablishedEvents:
        type: array
        description: Voice - RoutingEstablished events for this batch
        items:
          $ref: '#/definitions/RoutingEstablishedEvent'
      userEstablishedEvents:
        type: array
        description: Voice - UserEstablished events for this batch
        items:
          $ref: '#/definitions/UserEstablishedEvent'
      audioUpdatedEvents:
        type: array
        description: Voice - AudioUpdated events for this batch
        items:
          $ref: '#/definitions/AudioUpdatedEvent'
      communicationEndedEvents:
        type: array
        description: Voice - CommunicationEnded events for this batch
        items:
          $ref: '#/definitions/CommunicationEndedEvent'
      consultTransferEvents:
        type: array
        description: Voice - ConsultTransfer events for this batch
        items:
          $ref: '#/definitions/ConsultTransferEvent'
      progressConsultTransferEvents:
        type: array
        description: Voice - ProgressConsultTransfer events for this batch
        items:
          $ref: '#/definitions/ProgressConsultTransferEvent'
      endConsultTransferEvents:
        type: array
        description: Voice - EndConsultTransfer events for this batch
        items:
          $ref: '#/definitions/EndConsultTransferEvent'
      emailBeginTransmittingEvents:
        type: array
        description: Email - EmailBeginTransmittingEvent events for this batch
        items:
          $ref: '#/definitions/EmailBeginTransmittingEvent'
      emailCommunicationEndedEvents:
        type: array
        description: Email - EmailCommunicationEndedEvent events for this batch
        items:
          $ref: '#/definitions/EmailCommunicationEndedEvent'
      emailExternalEstablishedEvents:
        type: array
        description: Email - EmailExternalEstablishedEvent events for this batch
        items:
          $ref: '#/definitions/EmailExternalEstablishedEvent'
      emailFlowEstablishedEvents:
        type: array
        description: Email - EmailFlowEstablishedEvent events for this batch
        items:
          $ref: '#/definitions/EmailFlowEstablishedEvent'
      emailRoutingEstablishedEvents:
        type: array
        description: Email - EmailRoutingEstablishedEvent events for this batch
        items:
          $ref: '#/definitions/EmailRoutingEstablishedEvent'
      emailUserEstablishedEvents:
        type: array
        description: Email - EmailUserEstablishedEvent events for this batch
        items:
          $ref: '#/definitions/EmailUserEstablishedEvent'
      emailCommunicationAnsweredEvents:
        type: array
        description: Email - EmailCommunicationAnsweredEvent events for this batch
        items:
          $ref: '#/definitions/EmailCommunicationAnsweredEvent'
      emailCommunicationDispositionAppliedEvents:
        type: array
        description: Email - EmailCommunicationDispositionAppliedEvent events for this batch
        items:
          $ref: '#/definitions/EmailCommunicationDispositionAppliedEvent'
      emailCommunicationSentMessageEvents:
        type: array
        description: Email - EmailCommunicationSentMessageEvent events for this batch
        items:
          $ref: '#/definitions/EmailCommunicationSentMessageEvent'
      emailHoldUpdatedEvents:
        type: array
        description: Email - EmailHoldUpdatedEvent events for this batch
        items:
          $ref: '#/definitions/EmailHoldUpdatedEvent'
      emailEndTransferEvents:
        type: array
        description: Email - EmailEndTransferEvent events for this batch
        items:
          $ref: '#/definitions/EmailEndTransferEvent'
      emailProgressTransferEvents:
        type: array
        description: Email - EmailProgressTransferEvent events for this batch
        items:
          $ref: '#/definitions/EmailProgressTransferEvent'
      emailRoutingTransferEvents:
        type: array
        description: Email - EmailRoutingTransferEvent events for this batch
        items:
          $ref: '#/definitions/EmailRoutingTransferEvent'
      emailUserTransferEvents:
        type: array
        description: Email - EmailUserTransferEvent events for this batch
        items:
          $ref: '#/definitions/EmailUserTransferEvent'
    description: A maximum of 100 events are allowed per request
  AudioUpdatedEvent:
    type: object
    required:
    - audioState
    - communicationId
    - conversationId
    - eventDateTime
    - eventId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
      audioState:
        description: The updated audioState for the target communication.
        $ref: '#/definitions/AudioState'
  UserTransferEvent:
    type: object
    required:
    - commandId
    - conversationId
    - destinationUserId
    - eventDateTime
    - eventId
    - initiatingCommunicationId
    - objectCommunicationId
    - targetCommunicationId
    - transferType
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      transferType:
        type: string
        description: Indicates the desired type of transfer.
        enum:
        - Attended
        - Unattended
      commandId:
        type: string
        description: The id (V4 UUID) used by the external platform to refer to the transfer in subsequent Transfer events.
      initiatingCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication representing the participant that is initiating the transfer.
      targetCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred away from. In many cases this will be the same as the `initiatingCommunicationId`.
      objectCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred.
      destinationUserId:
        type: string
        description: The id (V4 UUID) of the desired destination user that the object communication should be transferred to.
  UserRoutingStatusEvent:
    type: object
    required:
    - agentId
    - eventDateTime
    - eventId
    - sourceId
    - status
    properties:
      eventId:
        type: string
        description: A unique (UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A timestamp as epoch representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      agentId:
        type: string
        description: Unique identifier of the agent.
      status:
        type: string
        description: The agent's current routing status.
        enum:
        - OffQueue
        - Idle
        - Interacting
        - Communicating
        - NotResponding
      sourceId:
        type: string
        description: The agent's source platform Id.
  EmailCommunicationDispositionAppliedEvent:
    type: object
    required:
    - communicationId
    - conversationId
    - eventDateTime
    - eventId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
      code:
        type: string
        description: The wrapup-code (V4 UUID) used to disposition this interaction. If this value is not provided the disposition is considered skipped.
      notes:
        type: string
        description: Text entered by the agent to describe the interaction or disposition. Ignored if the disposition is considered skipped.
      tags:
        type: array
        description: The list of tags selected by the agent to describe the interaction or disposition. Ignored if the disposition is considered skipped.
        items:
          type: string
  EmailCommunicationSentMessageEvent:
    type: object
    required:
    - communicationId
    - conversationId
    - eventDateTime
    - eventId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication.
  Limit:
    type: object
    properties:
      key:
        type: string
      namespace:
        type: string
        enum:
        - web.deployments
        - web.messaging
        - agent.assistant
        - agentic.virtual.agents
        - analytics.agents
        - analytics.alerting
        - analytics.data.extraction
        - analytics
        - analytics.realtime
        - analytics.reporting.settings
        - anomaly.detection
        - architect
        - audiohook
        - audiohook.monitor
        - audit
        - auth.api
        - authorization
        - automation.testing
        - bots
        - bots.voice
        - business.rules
        - callback
        - case.management
        - cobrowse
        - content.management
        - conversation
        - copilot
        - dataactions
        - datatables
        - directory
        - dsar
        - email
        - employee.engagement
        - event.orchestration
        - external.contacts
        - external.events.data.ingestion
        - gamification
        - gcv
        - gdpr
        - groups
        - guides
        - historical.adherence
        - infrastructureascode
        - integrations
        - intent.miner
        - internal.messaging
        - journey
        - knowledge
        - language.understanding
        - learning
        - limit.registry
        - marketplace
        - mcp.analytics.aggregates
        - mcp
        - media.communications
        - messaging
        - micro.frontend
        - multi.org
        - notifications
        - onboarding
        - outbound
        - platform.api
        - predictive.routing
        - presence
        - quality
        - recording
        - response.management
        - routing
        - scim
        - screen.monitoring
        - search
        - secondary.automation.testing
        - skills
        - social.media
        - speech.and.text.analytics
        - speech.integration
        - supportability
        - task.management
        - telephony.configuration
        - usage
        - users
        - users.rules
        - voice.transcription
        - webchat
        - webhooks
        - workforce.management.adherence
        - workforce.management.agent.availability
        - workforce.management.forecast
        - workforce.management
        - workforce.management.scheduling.preferences
        - workforce.management.self.schedule
        - workforce.management.shift.trading
        - system
      value:
        type: integer
        format: int64
  CommunicationDispositionAppliedEvent:
    type: object
    required:
    - communicationId
    - conversationId
    - eventDateTime
    - eventId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
      code:
        type: string
        description: The wrapup-code (V4 UUID) used to disposition this interaction. If this value is not provided the disposition is considered skipped.
      notes:
        type: string
        description: Text entered by the agent to describe the interaction or disposition. Ignored if the disposition is considered skipped.
      tags:
        type: array
        description: The list of tags selected by the agent to describe the interaction or disposition. Ignored if the disposition is considered skipped.
        items:
          type: string
  EndTransferEvent:
    type: object
    required:
    - commandId
    - conversationId
    - eventDateTime
    - eventId
    - finalState
    - objectCommunicationId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      commandId:
        type: string
        description: The id (V4 UUID) used to identify the transfer already started by the external platform.
      finalState:
        type: string
        description: Indicates whether the transfer completed successfully, was cancelled, or failed for some reason.
        enum:
        - Completed
        - Canceled
        - Failed
      objectCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that was being transferred.
  PhoneEstablishedEvent:
    type: object
    required:
    - communicationId
    - conversationId
    - eventDateTime
    - eventId
    - initialConfiguration
    - sourceConfiguration
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
      phoneNumber:
        type: string
        description: The phone number for this phone.
      ani:
        type: string
        description: The automatic number identification if it is available for this conversation.
      dnis:
        type: string
        description: The dialed number identification if it is available for this conversation.
      initialConfiguration:
        description: Metadata about this communication.
        $ref: '#/definitions/InitialConfiguration'
      sourceConfiguration:
        description: Metadata about the source of this communication's interaction.
        $ref: '#/definitions/SourceConfiguration'
  EmailRoutingEstablishedEvent:
    type: object
    required:
    - communicationId
    - conversationId
    - eventDateTime
    - eventId
    - initialConfiguration
    - queueId
    - sourceConfiguration
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication.
      queueId:
        type: string
        description: The id of the queue that is routing this conversation.
      skillIds:
        type: array
        description: The unique identifiers for the skills that should be used to determine the destination for the conversation.
        items:
          type: string
      languageId:
        type: string
        description: The unique identifier for the language that should be used to determine the destination for the conversation.
      label:
        type: string
        description: An optional label that categorizes the conversation. Max-utilization settings can be configured at a per-label level.
      initialConfiguration:
        description: Metadata about this communication.
        $ref: '#/definitions/EmailInitialConfiguration'
      sourceConfiguration:
        description: Metadata about the source of this communication's interaction.
        $ref: '#/definitions/SourceConfiguration'
  ProgressConsultTransferEvent:
    type: object
    required:
    - conversationId
    - destinationCommunicationId
    - eventDateTime
    - eventId
    - initiatingCommunicationId
    - objectCommunicationId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      initiatingCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication representing the participant that is initiating the transfer.
      destinationCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred to.
      objectCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred.
  IvrEstablishedEvent:
    type: object
    required:
    - communicationId
    - conversationId
    - eventDateTime
    - eventId
    - initialConfiguration
    - sourceConfiguration
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
      ivrPhoneNumber:
        type: string
        description: The phone number for this IVR, if any is known
      ivrName:
        type: string
        description: A displayable name for this IVR, if any is known.
      ani:
        type: string
        description: The automatic number identification if it is available for this conversation.
      dnis:
        type: string
        description: The dialed number identification if it is available for this conversation.
      initialConfiguration:
        description: Metadata about this communication.
        $ref: '#/definitions/InitialConfiguration'
      sourceConfiguration:
        description: Metadata about the source of this communication's interaction.
        $ref: '#/definitions/SourceConfiguration'
  EmailProgressTransferEvent:
    type: object
    required:
    - commandId
    - conversationId
    - destinationCommunicationId
    - eventDateTime
    - eventId
    - objectCommunicationId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      commandId:
        type: string
        description: The id (V4 UUID) used to identify the transfer already started by the external platform.
      objectCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred.
      destinationCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred to.
  ExternalEstablishedEvent:
    type: object
    required:
    - communicationId
    - conversationId
    - eventDateTime
    - eventId
    - initialConfiguration
    - sourceConfiguration
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
      ani:
        type: string
        description: The automatic number identification if it is available for this conversation.
      aniName:
        type: string
        description: The automatic number identification name if it is available for this conversation.
      dnis:
        type: string
        description: The dialed number identification if it is available for this conversation.
      dnisName:
        type: string
        description: The dialed number identification name if it is available for this conversation.
      initialConfiguration:
        description: Metadata about this communication.
        $ref: '#/definitions/InitialConfiguration'
      sourceConfiguration:
        description: Metadata about the source of this communication's interaction.
        $ref: '#/definitions/SourceConfiguration'
  CommunicationAnsweredEvent:
    type: object
    required:
    - communicationId
    - conversationId
    - eventDateTime
    - eventId
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      communicationId:
        type: string
        description: A unique Id (V4 UUID) identifying this communication
  SourceConfiguration:
    type: object
    required:
    - interactionId
    - sourceId
    properties:
      sourceId:
        type: string
        description: Identifies the external platform that is the source of the conversation.
      interactionId:
        type: string
        description: The customer's unique external identifier associated with the conversation that comes from the external platform.
      tagId:
        type: string
        description: The customer's external identifier or tag associated with the conversation. If set, it will be used to tag the conversation.
  RoutingTransferEvent:
    type: object
    required:
    - commandId
    - conversationId
    - destinationQueueId
    - eventDateTime
    - eventId
    - initiatingCommunicationId
    - objectCommunicationId
    - targetCommunicationId
    - transferType
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      transferType:
        type: string
        description: Indicates the desired type of transfer.
        enum:
        - Attended
        - Unattended
      commandId:
        type: string
        description: The id (V4 UUID) used by the external platform to refer to the transfer in subsequent *Transfer events.
      initiatingCommunicationId:
        type: string
        description: Indicates the desired type of transfer.
      targetCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred away from. In many cases this will be the same as the `initiatingCommunicationId`.
      objectCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred.
      destinationQueueId:
        type: string
        description: The id (V4 UUID) of the desired destination queue that the object communication should be transferred to.
      languageId:
        type: string
        description: The unique identifier (V4 UUID) for the language that should be used to determine the destination for the conversation.
      skillIds:
        type: array
        description: The unique identifiers (V4 UUID) for the skills that should be used to determine the destination for the conversation.
        items:
          type: string
  EmailRoutingTransferEvent:
    type: object
    required:
    - commandId
    - conversationId
    - destinationQueueId
    - eventDateTime
    - eventId
    - initiatingCommunicationId
    - objectCommunicationId
    - targetCommunicationId
    - transferType
    properties:
      eventId:
        type: string
        description: A unique (V4 UUID) eventId for this event
      eventDateTime:
        type: string
        format: date-time
        description: 'A Date Time representing the time this event occurred. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      conversationId:
        type: string
        description: A unique Id (V4 UUID) identifying this conversation
      transferType:
        type: string
        description: Indicates the desired type of transfer.
        enum:
        - Attended
        - Unattended
      commandId:
        type: string
        description: The id (V4 UUID) used by the external platform to refer to the transfer in subsequent *Transfer events.
      initiatingCommunicationId:
        type: string
        description: Indicates the desired type of transfer.
      targetCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred away from. In many cases this will be the same as the `initiatingCommunicationId`.
      objectCommunicationId:
        type: string
        description: The id (V4 UUID) of the communication that is being transferred.
      destinationQueueId:
        type: string
        description: The id (V4 UUID) of the desired destination queue that the object communication should be transferred to.
      languageId:
        type: string
        description: The unique identifier (V4 UUID) for the language that should be used to determine the destination for the conversation.
      skillIds:
        type: array
        description: The unique identifiers (V4 UUID) for the skills that should be used to determine the destination for the conversation.
        items:
          type: string
  Detail:
    type: object
    properties:
      errorCode:
        type: string
      fieldName:
        type: string
      entityId:
        type: string
      entityName:
        type: string
securityDefinitions:
  PureCloud OAuth:
    type: oauth2
    authorizationUrl: https://login.mypurecloud.com/authorize
    flow: implicit
    scopes:
      all: All the scopes
  Guest Chat JWT:
    type: apiKey
    name: Authorization
    in: header
externalDocs:
  description: PureCloud API Documentation
  url: https://developer.genesys.cloud/
