swagger: '2.0'
info:
  description: With the PureCloud Platform API, you can control all aspects of your PureCloud environment. With the APIs you can access the system configuration, manage conversations and more.
  version: v2
  title: PureCloud Platform Agent Assistants Data Extensions API
  termsOfService: https://help.genesys.cloud/articles/terms-and-conditions/
  contact:
    name: PureCloud Developer Evangelists
    url: https://developer.genesys.cloud/
    email: DeveloperEvangelists@genesys.com
  license:
    name: UNLICENSED
    url: https://help.genesys.cloud/articles/terms-and-conditions/
host: api.mypurecloud.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Data Extensions
  description: Data extensions
  externalDocs:
    description: Data Extensions
    url: https://developer.genesys.cloud/devapps/api-explorer
paths:
  /api/v2/dataextensions/coretypes/{coretypeName}:
    get:
      tags:
      - Data Extensions
      summary: Get a specific named core type.
      description: ''
      operationId: getDataextensionsCoretype
      produces:
      - application/json
      parameters:
      - name: coretypeName
        in: path
        description: The core type's name
        required: true
        type: string
        enum:
        - text
        - longtext
        - url
        - identifier
        - enum
        - date
        - datetime
        - integer
        - number
        - checkbox
        - tag
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/Coretype'
        '400':
          description: The request could not be understood by the server due to malformed syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to malformed syntax.
            response.entity.too.large: The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.query.param.value: 'Value [%s] is not valid for parameter [%s]. Allowable values are: %s'
            invalid.property: Value [%s] is not a valid property for object [%s]
            constraint.validation: '%s'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable values are: %s'
        '401':
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization header.
            ip.not.authorized: 'Requests originating from this IP address are not authorized: [%s]'
            bad.credentials: Invalid login credentials.
        '403':
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.division.permission: Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).
            app.not.authorized.for.scope: App not authorized to use scope %s
            missing.permissions: 'Unable to perform the requested action. You are missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s'
            authz.policy.denied: 'Unable to perform the requested action. Your organization''s security policies have denied access. Policy ID(s): [%s]'
            missing.any.division.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s'
        '404':
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        '408':
          description: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            client.timeout: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
        '409':
          description: The request conflicts with the current state of the target resource.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.conflict: The request conflicts with the current state of the target resource.
        '413':
          description: 'The request is over the size limit. Maximum bytes: %s'
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.entity.too.large: 'The request is over the size limit. Maximum bytes: %s'
        '415':
          description: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
        '429':
          description: Rate limit exceeded the maximum. Retry the request in [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests.retry.after: Rate limit exceeded the maximum. Retry the request in [%s] seconds
            too.many.requests: Rate limit exceeded the maximum [%s] requests within [%s] seconds
        '500':
          description: The server encountered an unexpected condition which prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition which prevented it from fulfilling the request.
        '503':
          description: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
        '504':
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - PureCloud OAuth:
        - data-extensions
      x-inin-requires-permissions:
        type: ANY
        permissions:
        - externalContacts:customFields:view
      x-purecloud-method-name: getDataextensionsCoretype
  /api/v2/dataextensions/coretypes:
    get:
      tags:
      - Data Extensions
      summary: Get the core types from which all schemas are built.
      description: ''
      operationId: getDataextensionsCoretypes
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/CoretypeListing'
        '400':
          description: The request could not be understood by the server due to malformed syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to malformed syntax.
            response.entity.too.large: The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.query.param.value: 'Value [%s] is not valid for parameter [%s]. Allowable values are: %s'
            invalid.property: Value [%s] is not a valid property for object [%s]
            constraint.validation: '%s'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable values are: %s'
        '401':
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization header.
            ip.not.authorized: 'Requests originating from this IP address are not authorized: [%s]'
            bad.credentials: Invalid login credentials.
        '403':
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.division.permission: Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).
            app.not.authorized.for.scope: App not authorized to use scope %s
            missing.permissions: 'Unable to perform the requested action. You are missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s'
            authz.policy.denied: 'Unable to perform the requested action. Your organization''s security policies have denied access. Policy ID(s): [%s]'
            missing.any.division.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s'
        '404':
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        '408':
          description: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            client.timeout: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
        '409':
          description: The request conflicts with the current state of the target resource.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.conflict: The request conflicts with the current state of the target resource.
        '413':
          description: 'The request is over the size limit. Maximum bytes: %s'
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.entity.too.large: 'The request is over the size limit. Maximum bytes: %s'
        '415':
          description: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
        '429':
          description: Rate limit exceeded the maximum. Retry the request in [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests.retry.after: Rate limit exceeded the maximum. Retry the request in [%s] seconds
            too.many.requests: Rate limit exceeded the maximum [%s] requests within [%s] seconds
        '500':
          description: The server encountered an unexpected condition which prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition which prevented it from fulfilling the request.
        '503':
          description: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
        '504':
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - PureCloud OAuth:
        - data-extensions
      x-inin-requires-permissions:
        type: ANY
        permissions:
        - externalContacts:customFields:view
      x-purecloud-method-name: getDataextensionsCoretypes
  /api/v2/dataextensions/limits:
    get:
      tags:
      - Data Extensions
      summary: Get quantitative limits on schemas
      description: ''
      operationId: getDataextensionsLimits
      produces:
      - application/json
      parameters: []
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/SchemaQuantityLimits'
        '400':
          description: The request could not be understood by the server due to malformed syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to malformed syntax.
            response.entity.too.large: The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.query.param.value: 'Value [%s] is not valid for parameter [%s]. Allowable values are: %s'
            invalid.property: Value [%s] is not a valid property for object [%s]
            constraint.validation: '%s'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable values are: %s'
        '401':
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization header.
            ip.not.authorized: 'Requests originating from this IP address are not authorized: [%s]'
            bad.credentials: Invalid login credentials.
        '403':
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.division.permission: Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).
            app.not.authorized.for.scope: App not authorized to use scope %s
            missing.permissions: 'Unable to perform the requested action. You are missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s'
            authz.policy.denied: 'Unable to perform the requested action. Your organization''s security policies have denied access. Policy ID(s): [%s]'
            missing.any.division.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s'
        '404':
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        '408':
          description: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            client.timeout: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
        '409':
          description: The request conflicts with the current state of the target resource.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.conflict: The request conflicts with the current state of the target resource.
        '413':
          description: 'The request is over the size limit. Maximum bytes: %s'
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.entity.too.large: 'The request is over the size limit. Maximum bytes: %s'
        '415':
          description: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
        '429':
          description: Rate limit exceeded the maximum. Retry the request in [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests.retry.after: Rate limit exceeded the maximum. Retry the request in [%s] seconds
            too.many.requests: Rate limit exceeded the maximum [%s] requests within [%s] seconds
        '500':
          description: The server encountered an unexpected condition which prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition which prevented it from fulfilling the request.
        '503':
          description: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
        '504':
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - PureCloud OAuth:
        - data-extensions
      x-inin-requires-permissions:
        type: ANY
        permissions:
        - externalContacts:customFields:view
      x-purecloud-method-name: getDataextensionsLimits
definitions:
  Items:
    type: object
    properties:
      type:
        type: string
      pattern:
        type: string
  SchemaQuantityLimits:
    type: object
    properties:
      id:
        type: string
        description: The globally unique identifier for the object.
        readOnly: true
      name:
        type: string
      minFieldNameCharacters:
        type: integer
        format: int32
        example: '"minFieldNameCharacters":1'
        description: The minimum number of schema field name characters allowed.
        readOnly: true
      maxFieldNameCharacters:
        type: integer
        format: int32
        example: '"maxFieldNameCharacters":100'
        description: The maximum number of schema field name characters allowed.
        readOnly: true
      minFieldTitleCharacters:
        type: integer
        format: int32
        example: '"minFieldTitleCharacters":1'
        description: The minimum number of schema field title characters allowed.
        readOnly: true
      maxFieldTitleCharacters:
        type: integer
        format: int32
        example: '"maxFieldTitleCharacters":100'
        description: The maximum number of schema field title characters allowed.
        readOnly: true
      minFieldDescriptionCharacters:
        type: integer
        format: int32
        example: '"minFieldDescriptionCharacters":0'
        description: The minimum number of schema field description characters allowed.
        readOnly: true
      maxFieldDescriptionCharacters:
        type: integer
        format: int32
        example: '"maxFieldDescriptionCharacters":200'
        description: The maximum number of schema field description characters allowed.
        readOnly: true
      minSchemaNameCharacters:
        type: integer
        format: int32
        example: '"minSchemaNameCharacters":1'
        description: The minimum number of schema name characters allowed.
        readOnly: true
      maxSchemaNameCharacters:
        type: integer
        format: int32
        example: '"maxSchemaNameCharacters":50'
        description: The maximum number of schema name characters allowed.
        readOnly: true
      minSchemaDescriptionCharacters:
        type: integer
        format: int32
        example: '"minSchemaDescriptionCharacters":0'
        description: The minimum number of schema description characters allowed.
        readOnly: true
      maxSchemaDescriptionCharacters:
        type: integer
        format: int32
        example: '"maxSchemaDescriptionCharacters":200'
        description: The maximum number of schema description characters allowed.
        readOnly: true
      maxNumberOfSchemasPerOrg:
        type: integer
        format: int32
        example: '"maxNumberOfSchemasPerOrg":20'
        description: The maximum number of schema allowed per org.
        readOnly: true
      maxNumberOfFieldsPerSchema:
        type: integer
        format: int32
        example: '"maxNumberOfFieldsPerSchema":25'
        description: The maximum number of schema fields allowed per schema.
        readOnly: true
      maxNumberOfFieldsPerOrg:
        type: integer
        format: int32
        example: '"maxNumberOfFieldsPerOrg":500'
        description: The maximum number of schema fields allowed per organization across all of their schemas.
        readOnly: true
      selfUri:
        type: string
        format: uri
        description: The URI for this object
        readOnly: true
  ErrorBody:
    type: object
    properties:
      message:
        type: string
      code:
        type: string
      status:
        type: integer
        format: int32
      entityId:
        type: string
      entityName:
        type: string
      messageWithParams:
        type: string
      messageParams:
        type: object
        additionalProperties:
          type: string
      contextId:
        type: string
      details:
        type: array
        items:
          $ref: '#/definitions/Detail'
      errors:
        type: array
        items:
          $ref: '#/definitions/ErrorBody'
      limit:
        $ref: '#/definitions/Limit'
  MaxLength:
    type: object
    required:
    - max
    - min
    properties:
      min:
        type: integer
        format: int64
        description: A non-negative integer for a text-based schema field denoting the minimum largest length string the field can contain for a schema instance.
      max:
        type: integer
        format: int64
        description: A non-negative integer for a text-based schema field denoting the maximum largest string the field can contain for a schema instance.
  Schema:
    type: object
    properties:
      title:
        type: string
        description: A core type's title
        readOnly: true
      description:
        type: string
        description: A core type's description
        readOnly: true
      type:
        type: array
        example: '["string"] for a text-based core type, ["integer"] for a numeric core type, or ["boolean", "null"] for the checkbox core type'
        description: An array of fundamental JSON Schema primitive types on which the core type is based
        readOnly: true
        items:
          type: string
      items:
        example: '{

          type": "string",

          "pattern": "^[\\S]+$"

          }'
        description: Denotes the type and pattern of the items in an enum core type
        readOnly: true
        $ref: '#/definitions/Items'
      pattern:
        type: string
        description: For the "date" and "datetime" core types, denotes the regex prescribing the allowable date/datetime format
        readOnly: true
  Coretype:
    type: object
    properties:
      id:
        type: string
        description: The globally unique identifier for the object.
        readOnly: true
      name:
        type: string
      version:
        type: integer
        format: int32
        description: A positive integer denoting the core type's version
      dateCreated:
        type: string
        format: date-time
        description: 'The date the core type was created. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
      schema:
        description: The core type's built-in schema
        $ref: '#/definitions/Schema'
      current:
        type: boolean
        description: A boolean indicating if the core type's version is the current one in use by the system
      validationFields:
        type: array
        description: An array of strings naming the fields of the core type subject to validation.  Validation constraints are specified by a schema author using the core type.
        items:
          type: string
      validationLimits:
        example: '"validationLimits": {

          "minLength": {"min": 0, "max": 100},

          "maxLength": {"min": 1, "max": 100}

          }'
        description: A structure denoting the system-imposed minimum and maximum string length (for text-based core types) or numeric values (for number-based) core types.  For example, the validationLimits for a text-based core type specify the min/max values for a minimum string length (minLength) constraint supplied by a schemaauthor on a text field.  Similarly, the maxLength's min/max specifies maximum string length constraint supplied by a schema author for the same field.
        $ref: '#/definitions/ValidationLimits'
      itemValidationFields:
        type: array
        description: Specific to the "tag" core type, this is an array of strings naming the tag item fields of the core type subject to validation
        items:
          type: string
      itemValidationLimits:
        example: "\"validationLimits\": {\n     \"minLength\": {\"min\": 1, \"max\": 100},\n     \"maxLength\": {\"min\": 1, \"max\": 100}\n}"
        description: A structure denoting the system-imposed minimum and maximum string length for string-array based core types such as "tag" and "enum".  Forexample, the validationLimits for a schema field using a tag core type specify the min/max values for a minimum string length (minLength) constraint supplied by a schema author on individual tags.  Similarly, the maxLength's min/max specifies maximum string length constraint supplied by a schema author for the same field's tags.
        $ref: '#/definitions/ItemValidationLimits'
      selfUri:
        type: string
        format: uri
        description: The URI for this object
        readOnly: true
  CoretypeListing:
    type: object
    properties:
      total:
        type: integer
        format: int64
      entities:
        type: array
        items:
          $ref: '#/definitions/Coretype'
      selfUri:
        type: string
        format: uri
  MinLength:
    type: object
    required:
    - max
    - min
    properties:
      min:
        type: integer
        format: int64
        description: A non-negative integer for a text-based schema field denoting the minimum smallest length a string field can contain for a schema instance.
      max:
        type: integer
        format: int64
        description: A non-negative integer for a text-based schema field denoting the maximum smallest length string the field can contain for a schema instance.
  ValidationLimits:
    type: object
    properties:
      minLength:
        $ref: '#/definitions/MinLength'
      maxLength:
        $ref: '#/definitions/MaxLength'
      minItems:
        $ref: '#/definitions/MinLength'
      maxItems:
        $ref: '#/definitions/MaxLength'
      minimum:
        $ref: '#/definitions/MinLength'
      maximum:
        $ref: '#/definitions/MaxLength'
  ItemValidationLimits:
    type: object
    required:
    - maxLength
    - minLength
    properties:
      minLength:
        example: '"minLength": {"min": 0, "max": 100}'
        description: A structure denoting the system-imposed minimum string length (for text-based core types) or numeric values (for number-based) core types.  For example, the validationLimits for a text-based core type specify the min/max values for a minimum string length (minLength) constraint supplied by a schemaauthor on a text field.  Similarly, the maxLength's min/max specifies maximum string length constraint supplied by a schema author for the same field.
        $ref: '#/definitions/MinLength'
      maxLength:
        example: '"validationLimits": {

          "minLength": {"min": 0, "max": 100},

          "maxLength": {"min": 1, "max": 100}

          }'
        description: A structure denoting the system-imposed minimum and maximum string length (for text-based core types) or numeric values (for number-based) core types.  For example, the validationLimits for a text-based core type specify the min/max values for a minimum string length (minLength) constraint supplied by a schemaauthor on a text field.  Similarly, the maxLength's min/max specifies maximum string length constraint supplied by a schema author for the same field.
        $ref: '#/definitions/MaxLength'
  Limit:
    type: object
    properties:
      key:
        type: string
      namespace:
        type: string
        enum:
        - web.deployments
        - web.messaging
        - agent.assistant
        - agentic.virtual.agents
        - analytics.agents
        - analytics.alerting
        - analytics.data.extraction
        - analytics
        - analytics.realtime
        - analytics.reporting.settings
        - anomaly.detection
        - architect
        - audiohook
        - audiohook.monitor
        - audit
        - auth.api
        - authorization
        - automation.testing
        - bots
        - bots.voice
        - business.rules
        - callback
        - case.management
        - cobrowse
        - content.management
        - conversation
        - copilot
        - dataactions
        - datatables
        - directory
        - dsar
        - email
        - employee.engagement
        - event.orchestration
        - external.contacts
        - external.events.data.ingestion
        - gamification
        - gcv
        - gdpr
        - groups
        - guides
        - historical.adherence
        - infrastructureascode
        - integrations
        - intent.miner
        - internal.messaging
        - journey
        - knowledge
        - language.understanding
        - learning
        - limit.registry
        - marketplace
        - mcp.analytics.aggregates
        - mcp
        - media.communications
        - messaging
        - micro.frontend
        - multi.org
        - notifications
        - onboarding
        - outbound
        - platform.api
        - predictive.routing
        - presence
        - quality
        - recording
        - response.management
        - routing
        - scim
        - screen.monitoring
        - search
        - secondary.automation.testing
        - skills
        - social.media
        - speech.and.text.analytics
        - speech.integration
        - supportability
        - task.management
        - telephony.configuration
        - usage
        - users
        - users.rules
        - voice.transcription
        - webchat
        - webhooks
        - workforce.management.adherence
        - workforce.management.agent.availability
        - workforce.management.forecast
        - workforce.management
        - workforce.management.scheduling.preferences
        - workforce.management.self.schedule
        - workforce.management.shift.trading
        - system
      value:
        type: integer
        format: int64
  Detail:
    type: object
    properties:
      errorCode:
        type: string
      fieldName:
        type: string
      entityId:
        type: string
      entityName:
        type: string
securityDefinitions:
  PureCloud OAuth:
    type: oauth2
    authorizationUrl: https://login.mypurecloud.com/authorize
    flow: implicit
    scopes:
      all: All the scopes
  Guest Chat JWT:
    type: apiKey
    name: Authorization
    in: header
externalDocs:
  description: PureCloud API Documentation
  url: https://developer.genesys.cloud/
