swagger: '2.0'
info:
  description: With the PureCloud Platform API, you can control all aspects of your PureCloud environment. With the APIs you can access the system configuration, manage conversations and more.
  version: v2
  title: PureCloud Platform Agent Assistants Assistant Copilot Variations API
  termsOfService: https://help.genesys.cloud/articles/terms-and-conditions/
  contact:
    name: PureCloud Developer Evangelists
    url: https://developer.genesys.cloud/
    email: DeveloperEvangelists@genesys.com
  license:
    name: UNLICENSED
    url: https://help.genesys.cloud/articles/terms-and-conditions/
host: api.mypurecloud.com
schemes:
- https
consumes:
- application/json
produces:
- application/json
tags:
- name: Assistant Copilot Variations
  description: Manage assistant copilot variations.
paths:
  /api/v2/assistants/{assistantId}/variations/{variationId}:
    get:
      tags:
      - Assistant Copilot Variations
      summary: Get assistant copilot variation by id
      description: ''
      operationId: getAssistantVariation
      produces:
      - application/json
      parameters:
      - name: assistantId
        in: path
        description: Assistant ID
        required: true
        type: string
      - name: variationId
        in: path
        description: Variation ID
        required: true
        type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AssistantCopilotVariation'
        '400':
          description: The request could not be understood by the server due to malformed syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to malformed syntax.
            response.entity.too.large: The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.query.param.value: 'Value [%s] is not valid for parameter [%s]. Allowable values are: %s'
            invalid.property: Value [%s] is not a valid property for object [%s]
            constraint.validation: '%s'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable values are: %s'
        '401':
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization header.
            ip.not.authorized: 'Requests originating from this IP address are not authorized: [%s]'
            bad.credentials: Invalid login credentials.
        '403':
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.division.permission: Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).
            app.not.authorized.for.scope: App not authorized to use scope %s
            missing.permissions: 'Unable to perform the requested action. You are missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s'
            authz.policy.denied: 'Unable to perform the requested action. Your organization''s security policies have denied access. Policy ID(s): [%s]'
            missing.any.division.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s'
        '404':
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        '408':
          description: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            client.timeout: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
        '409':
          description: The request conflicts with the current state of the target resource.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.conflict: The request conflicts with the current state of the target resource.
        '413':
          description: 'The request is over the size limit. Maximum bytes: %s'
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.entity.too.large: 'The request is over the size limit. Maximum bytes: %s'
        '415':
          description: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
        '429':
          description: Rate limit exceeded the maximum. Retry the request in [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests.retry.after: Rate limit exceeded the maximum. Retry the request in [%s] seconds
            too.many.requests: Rate limit exceeded the maximum [%s] requests within [%s] seconds
        '500':
          description: The server encountered an unexpected condition which prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition which prevented it from fulfilling the request.
        '503':
          description: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
        '504':
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - PureCloud OAuth:
        - assistants
        - assistants:readonly
      x-inin-requires-permissions:
        type: ALL
        permissions:
        - assistants:copilot:view
      x-purecloud-method-name: getAssistantVariation
    put:
      tags:
      - Assistant Copilot Variations
      summary: Update assistant copilot variation by id
      description: ''
      operationId: putAssistantVariation
      produces:
      - application/json
      parameters:
      - name: assistantId
        in: path
        description: Assistant ID
        required: true
        type: string
      - name: variationId
        in: path
        description: Variation ID
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AssistantCopilotVariation'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AssistantCopilotVariation'
        '400':
          description: The request could not be understood by the server due to malformed syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to malformed syntax.
            response.entity.too.large: The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.query.param.value: 'Value [%s] is not valid for parameter [%s]. Allowable values are: %s'
            client.failed.request: The client did not produce a request with valid end of stream signaling. This can be caused by poor network connection and/or client behavior.
            invalid.property: Value [%s] is not a valid property for object [%s]
            constraint.validation: '%s'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable values are: %s'
        '401':
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization header.
            ip.not.authorized: 'Requests originating from this IP address are not authorized: [%s]'
            bad.credentials: Invalid login credentials.
        '403':
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.division.permission: Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).
            app.not.authorized.for.scope: App not authorized to use scope %s
            missing.permissions: 'Unable to perform the requested action. You are missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s'
            authz.policy.denied: 'Unable to perform the requested action. Your organization''s security policies have denied access. Policy ID(s): [%s]'
            missing.any.division.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s'
        '404':
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        '408':
          description: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            client.timeout: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
        '409':
          description: The request conflicts with the current state of the target resource.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.conflict: The request conflicts with the current state of the target resource.
        '413':
          description: 'The request is over the size limit. Maximum bytes: %s'
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.entity.too.large: 'The request is over the size limit. Maximum bytes: %s'
        '415':
          description: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
        '429':
          description: Rate limit exceeded the maximum. Retry the request in [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests.retry.after: Rate limit exceeded the maximum. Retry the request in [%s] seconds
            too.many.requests: Rate limit exceeded the maximum [%s] requests within [%s] seconds
        '500':
          description: The server encountered an unexpected condition which prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition which prevented it from fulfilling the request.
        '503':
          description: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
        '504':
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - PureCloud OAuth:
        - assistants
      x-inin-requires-permissions:
        type: ALL
        permissions:
        - assistants:copilot:edit
      x-purecloud-method-name: putAssistantVariation
    delete:
      tags:
      - Assistant Copilot Variations
      summary: Delete assistant copilot variation by id
      description: ''
      operationId: deleteAssistantVariation
      produces:
      - application/json
      parameters:
      - name: assistantId
        in: path
        description: Assistant ID
        required: true
        type: string
      - name: variationId
        in: path
        description: Variation ID
        required: true
        type: string
      responses:
        '204':
          description: Assistant copilot variation deleted successfully
        '400':
          description: The request could not be understood by the server due to malformed syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to malformed syntax.
            response.entity.too.large: The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable
        '401':
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization header.
            ip.not.authorized: 'Requests originating from this IP address are not authorized: [%s]'
            bad.credentials: Invalid login credentials.
        '403':
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.division.permission: Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).
            app.not.authorized.for.scope: App not authorized to use scope %s
            missing.permissions: 'Unable to perform the requested action. You are missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s'
            authz.policy.denied: 'Unable to perform the requested action. Your organization''s security policies have denied access. Policy ID(s): [%s]'
            missing.any.division.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s'
        '404':
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        '408':
          description: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            client.timeout: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
        '409':
          description: The request conflicts with the current state of the target resource.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.conflict: The request conflicts with the current state of the target resource.
        '413':
          description: 'The request is over the size limit. Maximum bytes: %s'
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.entity.too.large: 'The request is over the size limit. Maximum bytes: %s'
        '415':
          description: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
        '429':
          description: Rate limit exceeded the maximum. Retry the request in [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests.retry.after: Rate limit exceeded the maximum. Retry the request in [%s] seconds
            too.many.requests: Rate limit exceeded the maximum [%s] requests within [%s] seconds
        '500':
          description: The server encountered an unexpected condition which prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition which prevented it from fulfilling the request.
        '503':
          description: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
        '504':
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - PureCloud OAuth:
        - assistants
      x-inin-requires-permissions:
        type: ALL
        permissions:
        - assistants:copilot:edit
      x-purecloud-method-name: deleteAssistantVariation
  /api/v2/assistants/{assistantId}/variations:
    get:
      tags:
      - Assistant Copilot Variations
      summary: Get variations of an assistant copilot
      description: ''
      operationId: getAssistantVariations
      produces:
      - application/json
      parameters:
      - name: assistantId
        in: path
        description: Assistant ID
        required: true
        type: string
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AssistantCopilotVariationListing'
        '400':
          description: The request could not be understood by the server due to malformed syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to malformed syntax.
            response.entity.too.large: The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.query.param.value: 'Value [%s] is not valid for parameter [%s]. Allowable values are: %s'
            invalid.property: Value [%s] is not a valid property for object [%s]
            constraint.validation: '%s'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable values are: %s'
        '401':
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization header.
            ip.not.authorized: 'Requests originating from this IP address are not authorized: [%s]'
            bad.credentials: Invalid login credentials.
        '403':
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.division.permission: Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).
            app.not.authorized.for.scope: App not authorized to use scope %s
            missing.permissions: 'Unable to perform the requested action. You are missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s'
            authz.policy.denied: 'Unable to perform the requested action. Your organization''s security policies have denied access. Policy ID(s): [%s]'
            missing.any.division.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s'
        '404':
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        '408':
          description: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            client.timeout: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
        '409':
          description: The request conflicts with the current state of the target resource.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.conflict: The request conflicts with the current state of the target resource.
        '413':
          description: 'The request is over the size limit. Maximum bytes: %s'
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.entity.too.large: 'The request is over the size limit. Maximum bytes: %s'
        '415':
          description: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
        '429':
          description: Rate limit exceeded the maximum. Retry the request in [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests.retry.after: Rate limit exceeded the maximum. Retry the request in [%s] seconds
            too.many.requests: Rate limit exceeded the maximum [%s] requests within [%s] seconds
        '500':
          description: The server encountered an unexpected condition which prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition which prevented it from fulfilling the request.
        '503':
          description: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
        '504':
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - PureCloud OAuth:
        - assistants
        - assistants:readonly
      x-inin-requires-permissions:
        type: ALL
        permissions:
        - assistants:copilot:view
      x-purecloud-method-name: getAssistantVariations
    post:
      tags:
      - Assistant Copilot Variations
      summary: Create assistant copilot variation
      description: ''
      operationId: postAssistantVariations
      produces:
      - application/json
      parameters:
      - name: assistantId
        in: path
        description: Assistant ID
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AssistantCopilotVariation'
      responses:
        '200':
          description: successful operation
          schema:
            $ref: '#/definitions/AssistantCopilotVariation'
        '400':
          description: The request could not be understood by the server due to malformed syntax.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            bad.request: The request could not be understood by the server due to malformed syntax.
            response.entity.too.large: The response is over the size limit. Reduce pageSize or expand list to reduce response size if applicable
            invalid.date: 'Dates must be specified as ISO-8601 strings. For example: yyyy-MM-ddTHH:mm:ss.SSSZ'
            invalid.query.param.value: 'Value [%s] is not valid for parameter [%s]. Allowable values are: %s'
            client.failed.request: The client did not produce a request with valid end of stream signaling. This can be caused by poor network connection and/or client behavior.
            invalid.property: Value [%s] is not a valid property for object [%s]
            constraint.validation: '%s'
            invalid.value: 'Value [%s] is not valid for field type [%s]. Allowable values are: %s'
        '401':
          description: No authentication bearer token specified in authorization header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.required: No authentication bearer token specified in authorization header.
            ip.not.authorized: 'Requests originating from this IP address are not authorized: [%s]'
            bad.credentials: Invalid login credentials.
        '403':
          description: You are not authorized to perform the requested action.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            missing.division.permission: Unable to perform the requested action. You are missing the following permission '%s' in the provided division(s).
            app.not.authorized.for.scope: App not authorized to use scope %s
            missing.permissions: 'Unable to perform the requested action. You are missing the following permission(s): %s'
            not.authorized: You are not authorized to perform the requested action.
            missing.any.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s'
            authz.policy.denied: 'Unable to perform the requested action. Your organization''s security policies have denied access. Policy ID(s): [%s]'
            missing.any.division.permissions: 'Unable to perform the requested action. You must have at least one of the following permissions assigned: %s in at least one of the following division(s): %s'
        '404':
          description: The requested resource was not found.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            not.found: The requested resource was not found.
        '408':
          description: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            client.timeout: The client did not produce a request within the server timeout limit. This can be caused by a slow network connection and/or large payloads.
        '409':
          description: The request conflicts with the current state of the target resource.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.conflict: The request conflicts with the current state of the target resource.
        '413':
          description: 'The request is over the size limit. Maximum bytes: %s'
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            request.entity.too.large: 'The request is over the size limit. Maximum bytes: %s'
        '415':
          description: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            unsupported.media.type: Unsupported Media Type - Unsupported or incorrect media type, such as an incorrect Content-Type value in the header.
        '429':
          description: Rate limit exceeded the maximum. Retry the request in [%s] seconds
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            too.many.requests.retry.after: Rate limit exceeded the maximum. Retry the request in [%s] seconds
            too.many.requests: Rate limit exceeded the maximum [%s] requests within [%s] seconds
        '500':
          description: The server encountered an unexpected condition which prevented it from fulfilling the request.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            internal.server.error: The server encountered an unexpected condition which prevented it from fulfilling the request.
        '503':
          description: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            service.unavailable: Service Unavailable - The server is currently unavailable (because it is overloaded or down for maintenance).
        '504':
          description: The request timed out.
          schema:
            $ref: '#/definitions/ErrorBody'
          x-inin-error-codes:
            authentication.request.timeout: Authentication request timeout.
            request.timeout: The request timed out.
      security:
      - PureCloud OAuth:
        - assistants
      x-inin-requires-permissions:
        type: ALL
        permissions:
        - assistants:copilot:edit
      x-purecloud-method-name: postAssistantVariations
definitions:
  CopilotFallbackAction:
    type: object
    required:
    - actionType
    properties:
      actionType:
        type: string
        description: Type of action.
        enum:
        - KnowledgeArticle
        - CannedResponse
        - Script
        - KnowledgeSearch
        - ThirdPartyAction
      attributes:
        type: object
        description: Action specific attributes, if any. Maximum 100 of string key-value pair allowed.
        additionalProperties:
          type: string
  AddressableEntityRef:
    type: object
    properties:
      id:
        type: string
      selfUri:
        type: string
        format: uri
  RuleEngineConfig:
    type: object
    required:
    - rules
    properties:
      rules:
        type: array
        description: List of rules to evaluate by the engine.
        items:
          $ref: '#/definitions/RuleConfig'
      fallback:
        description: Fallback configuration.
        $ref: '#/definitions/Fallback'
  GoogleDialogflowConfig:
    type: object
    required:
    - conversationProfiles
    properties:
      integrationId:
        type: string
        description: The integration identifier with which the assistant will fetch transcriptions and knowledge suggestions.
      conversationProfiles:
        type: array
        description: The conversation profiles for which the assistant will fetch transcription and knowledge suggestions.
        items:
          $ref: '#/definitions/ConversationProfile'
  CopilotNluDomainVersion:
    type: object
    required:
    - id
    properties:
      id:
        type: string
        description: Id of the NLU v3 domain version.
      selfUri:
        type: string
        format: uri
        description: The URI for this object
        readOnly: true
  Fallback:
    type: object
    properties:
      enabled:
        type: boolean
        description: Fallback actions are enabled.
      actions:
        type: array
        description: Fallback actions.
        items:
          $ref: '#/definitions/CopilotFallbackAction'
  UserReference:
    type: object
    properties:
      id:
        type: string
        description: The globally unique identifier for the object.
      selfUri:
        type: string
        format: uri
        description: The URI for this object
        readOnly: true
  AutoSearchConfig:
    type: object
    properties:
      type:
        type: string
        description: Auto search configuration type.
        enum:
        - ArticlesOnly
        - ArticlesWithAnswerHighlights
        - AnswerGeneration
  KnowledgeAnswerConfig:
    type: object
    required:
    - enabled
    properties:
      enabled:
        type: boolean
        description: Knowledge answer is enabled.
  KnowledgeSuggestionConfig:
    type: object
    required:
    - vendorName
    properties:
      vendorName:
        type: string
        description: The name of vendor used for knowledge suggestions.
        enum:
        - GoogleDialogflow
        - GenesysKnowledge
        - GenesysKnowledgeV3
        - Unknown
      knowledgeBase:
        description: The ID of knowledge base to query when Genesys is the knowledge suggestions provider.
        $ref: '#/definitions/KnowledgeBaseReference'
      knowledgeBases:
        type: array
        description: The knowledge bases to query based on dialect, when Genesys is the knowledge suggestions provider.
        items:
          $ref: '#/definitions/KnowledgeBaseWithDialectReference'
      receiveSegmentedArticles:
        type: boolean
        description: Include segmented articles in knowledge suggestions.
  CopilotCondition:
    type: object
    required:
    - conditionType
    - conditionValues
    properties:
      conditionType:
        type: string
        description: Type of condition.
        enum:
        - Intent
        - ConversationStart
        - ConversationTransfer
        - ConversationEnd
      conditionValues:
        type: array
        description: Condition values.
        items:
          type: string
  KnowledgeBaseReference:
    type: object
    required:
    - id
    properties:
      id:
        type: string
        description: The globally unique identifier for the knowledge base.
      languageCode:
        type: string
        description: Language of the knowledge base
        enum:
        - en-US
        - en-UK
        - en-AU
        - en-CA
        - en-HK
        - en-IN
        - en-IE
        - en-NZ
        - en-PH
        - en-SG
        - en-ZA
        - de-DE
        - de-AT
        - de-CH
        - es-AR
        - es-CO
        - es-MX
        - es-US
        - es-ES
        - fr-FR
        - fr-BE
        - fr-CA
        - fr-CH
        - pt-BR
        - pt-PT
        - nl-NL
        - nl-BE
        - it-IT
        - ca-ES
        - tr-TR
        - sv-SE
        - fi-FI
        - nb-NO
        - da-DK
        - ja-JP
        - ar-AE
        - zh-CN
        - zh-TW
        - zh-HK
        - ko-KR
        - pl-PL
        - hi-IN
        - th-TH
        - hu-HU
        - vi-VN
        - uk-UA
        - cs-CZ
        - fil-PH
        - ms-MY
        - he-IL
        - el-GR
      contentSearchEnabled:
        type: boolean
        description: Flag that indicates the search on content is enabled for the knowledge base.
      selfUri:
        type: string
        format: uri
        description: The URI for this object
        readOnly: true
  ErrorBody:
    type: object
    properties:
      message:
        type: string
      code:
        type: string
      status:
        type: integer
        format: int32
      entityId:
        type: string
      entityName:
        type: string
      messageWithParams:
        type: string
      messageParams:
        type: object
        additionalProperties:
          type: string
      contextId:
        type: string
      details:
        type: array
        items:
          $ref: '#/definitions/Detail'
      errors:
        type: array
        items:
          $ref: '#/definitions/ErrorBody'
      limit:
        $ref: '#/definitions/Limit'
  WrapupCodePredictionConfig:
    type: object
    required:
    - enabled
    properties:
      enabled:
        type: boolean
        description: Copilot generated wrapup code prediction is enabled.
  AssistantCopilotVariationListing:
    type: object
    properties:
      entities:
        type: array
        items:
          $ref: '#/definitions/AssistantCopilotVariation'
      nextUri:
        type: string
      selfUri:
        type: string
      previousUri:
        type: string
  NluConfig:
    type: object
    required:
    - domain
    - intentConfidenceThreshold
    properties:
      domain:
        description: NLU domain.
        $ref: '#/definitions/CopilotNluDomain'
      intentConfidenceThreshold:
        type: number
        format: float
        description: Minimum confidence value of accepting NLU intents, must be greater than 0 and less than 1.
  CopilotNluDomain:
    type: object
    required:
    - id
    - useLatestVersion
    properties:
      id:
        type: string
        description: Id of the NLU domain.
      useLatestVersion:
        type: boolean
        description: Use the latest version of the NLU domain. If false, version is required.
      version:
        description: NLU domain version.
        $ref: '#/definitions/CopilotNluDomainVersion'
      selfUri:
        type: string
        format: uri
        description: The URI for this object
        readOnly: true
  Copilot:
    type: object
    required:
    - defaultLanguage
    - liveOnQueue
    properties:
      enabled:
        type: boolean
        description: Copilot is enabled.
        readOnly: true
      liveOnQueue:
        type: boolean
        description: Copilot is live on selected queue.
      defaultLanguage:
        type: string
        description: Copilot default language, e.g. [en-US, es-US, es-ES]. Once set, it can not be modified.
      knowledgeAnswerConfig:
        description: 'Deprecated: Please use AutoSearchConfig and ManualSearchConfig fields instead.'
        $ref: '#/definitions/KnowledgeAnswerConfig'
      summaryGenerationConfig:
        description: Copilot generated summary configuration.
        $ref: '#/definitions/SummaryGenerationConfig'
      wrapupCodePredictionConfig:
        description: Copilot generated wrapup code prediction configuration.
        $ref: '#/definitions/WrapupCodePredictionConfig'
      answerGenerationConfig:
        description: 'Deprecated: Please use AutoSearchConfig and ManualSearchConfig fields instead.'
        $ref: '#/definitions/AnswerGenerationConfig'
      nluEngineType:
        type: string
        description: Language understanding engine type.
        enum:
        - NluV3
      nluConfig:
        description: NLU configuration.
        $ref: '#/definitions/NluConfig'
      ruleEngineConfig:
        description: Rule engine configuration.
        $ref: '#/definitions/RuleEngineConfig'
      autoSearchConfig:
        description: Auto search configuration.
        $ref: '#/definitions/AutoSearchConfig'
      manualSearchConfig:
        description: Manual Search configuration.
        $ref: '#/definitions/ManualSearchConfig'
      selfUri:
        type: string
        format: uri
        description: The URI for this object
        readOnly: true
  CopilotAction:
    type: object
    required:
    - actionType
    properties:
      actionType:
        type: string
        description: Type of action.
        enum:
        - KnowledgeArticle
        - CannedResponse
        - Script
        - Checklist
        - ThirdPartyAction
      attributes:
        type: object
        description: Action specific attributes, if any. Maximum 100 of string key-value pair allowed.
        additionalProperties:
          type: string
  SummarySettingEntity:
    type: object
    properties:
      id:
        type: string
        description: The globally unique identifier for the object.
        readOnly: true
      selfUri:
        type: string
        format: uri
        description: The URI for this object
        readOnly: true
  ConversationProfile:
    type: object
    required:
    - languageCode
    - name
    properties:
      languageCode:
        type: string
        description: The language code supported by the conversation profile belonging to a particular project for Dialogflow.
        enum:
        - en
        - en-AU
        - en-CA
        - en-GB
        - en-IN
        - en-US
      name:
        type: string
        description: The name of the conversation profile belonging to a particular project for Dialogflow
  AnswerGenerationConfig:
    type: object
    required:
    - enabled
    properties:
      enabled:
        type: boolean
        description: Answer generation is enabled.
  Limit:
    type: object
    properties:
      key:
        type: string
      namespace:
        type: string
        enum:
        - web.deployments
        - web.messaging
        - agent.assistant
        - agentic.virtual.agents
        - analytics.agents
        - analytics.alerting
        - analytics.data.extraction
        - analytics
        - analytics.realtime
        - analytics.reporting.settings
        - anomaly.detection
        - architect
        - audiohook
        - audiohook.monitor
        - audit
        - auth.api
        - authorization
        - automation.testing
        - bots
        - bots.voice
        - business.rules
        - callback
        - case.management
        - cobrowse
        - content.management
        - conversation
        - copilot
        - dataactions
        - datatables
        - directory
        - dsar
        - email
        - employee.engagement
        - event.orchestration
        - external.contacts
        - external.events.data.ingestion
        - gamification
        - gcv
        - gdpr
        - groups
        - guides
        - historical.adherence
        - infrastructureascode
        - integrations
        - intent.miner
        - internal.messaging
        - journey
        - knowledge
        - language.understanding
        - learning
        - limit.registry
        - marketplace
        - mcp.analytics.aggregates
        - mcp
        - media.communications
        - messaging
        - micro.frontend
        - multi.org
        - notifications
        - onboarding
        - outbound
        - platform.api
        - predictive.routing
        - presence
        - quality
        - recording
        - response.management
        - routing
        - scim
        - screen.monitoring
        - search
        - secondary.automation.testing
        - skills
        - social.media
        - speech.and.text.analytics
        - speech.integration
        - supportability
        - task.management
        - telephony.configuration
        - usage
        - users
        - users.rules
        - voice.transcription
        - webchat
        - webhooks
        - workforce.management.adherence
        - workforce.management.agent.availability
        - workforce.management.forecast
        - workforce.management
        - workforce.management.scheduling.preferences
        - workforce.management.self.schedule
        - workforce.management.shift.trading
        - system
      value:
        type: integer
        format: int64
  SummaryGenerationConfig:
    type: object
    required:
    - enabled
    properties:
      enabled:
        type: boolean
        description: Copilot generated summary is enabled.
      summarySetting:
        description: Configured summary setting object.
        $ref: '#/definitions/SummarySettingEntity'
  AssistantCopilotVariation:
    type: object
    required:
    - copilot
    - name
    - transcriptionConfig
    properties:
      id:
        type: string
        description: The globally unique identifier for the object.
        readOnly: true
      name:
        type: string
        description: The name of the assistant that will assist the agent.
      dateCreated:
        type: string
        format: date-time
        description: 'Date when the assistant was created. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
        readOnly: true
      dateModified:
        type: string
        format: date-time
        description: 'Date when the assistant was last modified. Date time is represented as an ISO-8601 string. For example: yyyy-MM-ddTHH:mm:ss[.mmm]Z'
        readOnly: true
      createdBy:
        description: The user who created the assistant.
        readOnly: true
        $ref: '#/definitions/UserReference'
      modifiedBy:
        description: The user who last modified the assistant.
        readOnly: true
        $ref: '#/definitions/UserReference'
      googleDialogflowConfig:
        description: '(Deprecated: use the ''knowledgeSuggestionConfig'' for genesys knowledge suggestions) Configuration of Dialogflow used to assist the agent with transcriptions and knowledge suggestions.'
        $ref: '#/definitions/GoogleDialogflowConfig'
      transcriptionConfig:
        description: Configuration for speech transcription used to assist the agent.
        $ref: '#/definitions/TranscriptionConfig'
      knowledgeSuggestionConfig:
        description: Configuration that defines how to produce knowledge suggestions.
        $ref: '#/definitions/KnowledgeSuggestionConfig'
      state:
        type: string
        description: State of the assistant.
        readOnly: true
        enum:
        - Active
        - Inactive
      copilot:
        description: Agent copilot configuration.
        $ref: '#/definitions/Copilot'
      selfUri:
        type: string
        format: uri
        description: The URI for this object
        readOnly: true
      variationParent:
        description: The parent assistant if this assistant is a variation of an assistant
        readOnly: true
        $ref: '#/definitions/AddressableEntityRef'
  RuleConfig:
    type: object
    required:
    - enabled
    - rule
    properties:
      id:
        type: string
        description: Rule ID.
      enabled:
        type: boolean
        description: Rule enabled.
      rule:
        description: Rule configuration.
        $ref: '#/definitions/CopilotRule'
  ManualSearchConfig:
    type: object
    properties:
      articlesWithAnswerHighlights:
        type: boolean
        description: Articles with answer highlights.
      answerGeneration:
        type: boolean
        description: Answer generation.
  CopilotRule:
    type: object
    required:
    - actions
    - conditions
    properties:
      conditions:
        type: array
        description: 'List of conditions to execute actions, must have at least 1 element and maximum 100 elements. Operator in case of multiple conditions: ''OR''.'
        items:
          $ref: '#/definitions/CopilotCondition'
      actions:
        type: array
        description: List of actions to execute, must have at least 1 element and maximum 100 elements.
        items:
          $ref: '#/definitions/CopilotAction'
  TranscriptionConfig:
    type: object
    required:
    - vendorName
    properties:
      vendorName:
        type: string
        description: The name of the vendor used for speech transcription.
        enum:
        - GoogleDialogflow
        - Unknown
        - Genesys
  KnowledgeBaseWithDialectReference:
    type: object
    required:
    - id
    - languageCode
    properties:
      id:
        type: string
        description: The globally unique identifier for the knowledge base.
      languageCode:
        type: string
        description: The dialect for the knowledge base.
        enum:
        - en-ZA
        - en-AU
        - en-GB
        - en-IE
        - en-IN
        - en-US
        - es-US
        - es-ES
        - nl-NL
        - fr-CA
        - fr-FR
        - de-DE
        - it-IT
        - pt-PT
        - pt-BR
        - ar-AE
        - ja-JP
        - sv-SE
        - de-AT
        - de-CH
        - da-DK
        - fr-BE
        - fr-CH
        - es-MX
        - es-CO
        - ko-KR
        - hi-IN
        - tr-TR
        - es-AR
        - fi-FI
        - nb-NO
        - cs-CZ
        - hu-HU
        - th-TH
        - pl-PL
        - nl-BE
        - fil-PH
        - ms-MY
        - he-IL
        - el-GR
      selfUri:
        type: string
        format: uri
        description: The URI for this object
        readOnly: true
  Detail:
    type: object
    properties:
      errorCode:
        type: string
      fieldName:
        type: string
      entityId:
        type: string
      entityName:
        type: string
securityDefinitions:
  PureCloud OAuth:
    type: oauth2
    authorizationUrl: https://login.mypurecloud.com/authorize
    flow: implicit
    scopes:
      all: All the scopes
  Guest Chat JWT:
    type: apiKey
    name: Authorization
    in: header
externalDocs:
  description: PureCloud API Documentation
  url: https://developer.genesys.cloud/
